@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  src: url("../fonts/Gotham_Pro_Bold.woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  src: url("../fonts/Gotham_Pro_Normal.woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  src: url("../fonts/Gotham_Pro_Medium.woff");
}

@font-face {
  font-family: "Bodoni MT";
  font-weight: 400;
  src: url("../fonts/Bodoni_MT_Italic.woff");
}
