@font-face {
    font-family: "Gotham Pro";
    font-weight: 700;
    src: url("../assets/fonts/Gotham_Pro_Bold.woff");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 400;
    src: url("../assets/fonts/Gotham_Pro_Medium.woff");
}
