$breakPointSmallMonitor: 1299.998px;
$breakPointTablet: 999.998px;
$breakPointPhone: 799.998px;
$breakPointSmallPhone: 499.998px;

$burgerBreakpoint: $breakPointPhone;
$burgerColor: black;
$headerHeight: 123px;
