*{
  border:0;
  margin:0;
  padding:0;
}

*,:after,:before{
  box-sizing:border-box;
}

:active,:focus,a:active,a:focus{
  outline:none;
}

aside,footer,header,nav{
  display:block;
}

body,html{
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-size:100%;
  font-size:16px;
  height:100%;
  line-height:1;
  width:100%;
}

button,input,textarea{
  font-family:inherit;
}

input::-ms-clear{
  display:none;
}

button{
  cursor:pointer;
  font-weight:inherit;
}

button::-moz-focus-inner{
  border:0;
  padding:0;
}

a,a:hover,a:visited{
  text-decoration:none;
}

ul li{
  list-style:none;
}

img{
  vertical-align:top;
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight:inherit;
}

:root{
  --accent:#ff683e;
  --dark-bg:#03225c;
  --dark:#2e2e2e;
  --brand:#1c51b9;
  --light:#f9f7f2;
  --grey:#cdcdcd;
  --accent-hover:#ff3700;
  --header-height:123px;
  font-size:16px;
}

@font-face{
  font-family:Gotham Pro;
  font-weight:700;
  src:url(../assets/fonts/Gotham_Pro_Bold.woff)
}

@font-face{
  font-family:Gotham Pro;
  font-weight:400;
  src:url(../assets/fonts/Gotham_Pro_Regular.woff)
}

.btn{
  display:flex;
  font-size:1rem;
  justify-content:center;
  min-width:181px;
  padding:10px 20px;
  text-transform:uppercase;
}

.btn,.btn-primary{
  border:none;
  cursor:pointer;
}

.btn-primary{
  background-color:var(--brand);
  color:#fff;
  font-size:.8125rem;
  max-width:-moz-max-content;
  max-width:max-content;
}

.btn-primary:hover{
  background-color:var(--dark-bg);
  color:#fff;
}

.btn-primary:active{
  background-color:#0d378d;
}

.btn-primary:focus{
  box-shadow:0 0 0 3px #8398c4;
  outline:none;
}

.btn-primary:disabled{
  background-color:var(--grey);
  color:#fff;
}

a{
  color:var(--brand);
  cursor:pointer;
}

a:hover{
  color:var(--dark);
}

a.block-link{
  display:block;
}

.heading{
  color:var(--dark);
  font-family:Bodoni;
  font-size:4.375rem;
  font-style:italic;
  font-weight:400;
}

.heading,.sub-heading{
  line-height:4.1875rem;
}

.sub-heading{
  color:var(--brand);
  font-size:3.125rem;
  font-style:normal;
  font-weight:700;
  text-transform:uppercase;
}

body{
  background:#fff;
  color:var(--dark);
  font-family:Gotham Pro,sans-serif;
  font-weight:700;
  padding-top:var(--header-height);
}

body.lock{
  overflow:hidden;
}

.container{
  margin:auto;
  max-width:1200px;
}

.container.container--narrow{
  margin:auto;
  max-width:1050px;
}

.container.container--very-narrow{
  margin:auto;
  max-width:870px;
}

.site-header{
  background:#fff;
  height:var(--header-height);
  position:fixed;
  top:0;
  width:100vw;
  z-index:2;
}

.header-container{
  height:100%;
}

.site-header__layout{
  align-items:center;
  display:flex;
  height:100%;
  justify-content:space-between;
}

.logo{
  flex:0 0 216px;
  height:23px;
  margin-right:20px;
}

.nav{
  align-items:center;
  display:flex;
  justify-content:space-between;
}

.nav>:not(:first-child){
  margin-left:40px;
}

.nav__link:not(.btn){
  color:var(--dark);
  display:inline-block;
  font-size:.9375rem;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.875rem;
  padding:.75rem 0;
  position:relative;
  text-align:right;
  text-transform:uppercase;
}

.nav__link:not(.btn):before{
  background-color:var(--brand);
  bottom:0;
  content:"";
  height:4px;
  left:0;
  opacity:0;
  position:absolute;
  transition:opacity .2s ease-out;
  width:100%;
}

.nav__link.active:not(.btn):hover:before,.nav__link:not(.btn):hover:before{
  background-color:var(--brand);
  opacity:1;
}

.nav__link.active:not(.btn):before{
  background:var(--accent);
  opacity:1;
}

.hero{
  background-color:var(--light);
  height:682px;
}

.hero__container,.hero__main{
  align-items:center;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
}

.hero__main{
  padding:3.75rem;
}

.hero__bottom{
  height:-moz-max-content;
  height:max-content;
}

.hero__heading.heading{
  font-size:4.375rem;
  line-height:4.1875rem;
  text-align:center;
}

.hero__sub-heading.sub-heading{
  font-size:3.125rem;
  line-height:4.1875rem;
  padding-bottom:2.9375rem;
  text-align:center;
}

.hero__sub-heading.sub-heading span{
  display:inline;
  white-space:nowrap;
}

.hero__copy{
  color:var(--dark);
  font-size:1.125rem;
  max-width:720px;
  padding-bottom:1.8125rem;
}

.hero__copy,.hero__info{
  font-style:normal;
  font-weight:400;
  line-height:1.625rem;
  text-align:center;
}

.hero__info{
  color:var(--grey);
  font-size:.8125rem;
  margin-bottom:62px;
}

.tech-list__layout{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin:0 -10px;
  transform:translateY(-42px);
}

.card{
  background:#fff;
  box-shadow:0 8px 31px rgba(28,81,185,.05);
  cursor:pointer;
  display:flex;
  flex-direction:column;
  height:227px;
  margin:10px;
  width:calc(20% - 20px);
}

.card__top{
  align-items:center;
  display:flex;
  flex:1 0 auto;
  flex-direction:column;
  justify-content:center;
  padding:5px;
}

.card__title{
  color:var(--dark);
  font-family:Bodoni;
  font-size:1.75rem;
  font-style:italic;
  font-weight:400;
}

.card__subtitle,.card__title{
  line-height:1.5625rem;
  text-align:center;
}

.card__subtitle{
  color:var(--grey);
  font-size:1.0625rem;
  font-style:normal;
  font-weight:700;
  text-transform:uppercase;
}

.card:hover .card__subtitle{
  color:var(--brand);
}

.card__bottom{
  align-items:center;
  background-blend-mode:multiply;
  background-color:#ff683e;
  background-image:url(../assets/images/look-at-this-shit.png);
  color:#fff;
  display:flex;
  flex:0 0 0px;
  font-size:1.125rem;
  font-style:normal;
  font-weight:400;
  justify-content:center;
  line-height:1.625rem;
  overflow:hidden;
  position:relative;
  transition:all .1s ease-out;
}

.card__bottom-overlay{
  background-blend-mode:multiply;
  background-color:#ff683e;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.card:hover .card__bottom{
  flex:0 0 101px;
}

.search__section{
  padding:70px 0 72px;
}

.search__section--alternative{
  background-color:var(--light);
}

.search__container{
  flex-direction:column;
  justify-content:center;
}

.search__container,.searchbar{
  align-items:center;
  display:flex;
}

.searchbar{
  background:#fff;
  border:2px solid var(--brand);
  font-size:.8125rem;
  font-style:normal;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.75rem;
  margin:auto auto 20px;
  min-height:52px;
  min-width:830px;
  padding:4px 12px 4px 36px;
  position:relative;
  text-transform:uppercase;
}

.searchbar--with-button{
  padding-right:112px;
}

.searchbar__icon{
  background-image:url(../assets/images/glass.svg);
  height:14px;
  left:12px;
  width:14px;
}

.searchbar__helptext,.searchbar__icon{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.searchbar__helptext{
  color:var(--grey);
  height:16px;
  left:36px;
  line-height:1.25rem;
  opacity:1;
  transition:opacity .1s ease-out;
  width:calc(100% - 42px);
}

.searchbar__helptext-mobile{
  color:var(--grey);
  display:none;
  line-height:1.25rem;
  text-transform:uppercase;
}

.searchbar.active .searchbar__helptext{
  opacity:0;
}

.searchbar__highlight{
  color:var(--brand);
}

.searchbar__content{
  align-items:center;
  display:flex;
  flex:1 0 auto;
  flex-wrap:wrap;
}

.searchbar__tag{
  background:var(--light);
  color:#1c51b9;
  display:inline-flex;
  font-size:.8125rem;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.75rem;
  min-width:-moz-max-content;
  min-width:max-content;
  padding:12px 18px;
  text-transform:uppercase;
}

.searchbar__tag:not(:last-child){
  margin-right:12px;
}

.searchbar__tag-close{
  margin-left:10px;
}

.searchbar__tag-close:before{
  color:var(--dark);
  content:"✖";
  font-family:sans-serif;
  font-weight:700;
}

.searchbar__input{
  background:transparent;
  color:var(--brand);
  display:inline-block;
  flex:1 1 auto;
  font-size:1rem;
  font-weight:700;
  position:relative;
  z-index:1;
}

.searchbar__go-button{
  background:var(--brand);
  color:#fff;
  flex:0 0 max-content;
  font-size:.8125rem;
  font-weight:700;
  line-height:.75rem;
  padding:12px 18px;
  position:absolute;
  right:12px;
  text-transform:uppercase;
  top:50%;
  transform:translateY(-50%);
}

.people-list__heading,.people-list__sub-heading{
  text-align:center;
}

.people-list{
  margin:24px 0 101px;
}

.people-list__layout{
  margin-top:60px;
}

.people-list__more-button{
  background:#ff683e;
  color:#fff;
  display:block;
  margin:59px auto 0;
  padding-left:32px;
  padding-right:32px;
  text-transform:uppercase;
}

.people-list__more-button:hover{
  background:#ff3700;
}

.people-list__line{
  padding:19px 0;
}

.people-list__line-inner{
  align-items:center;
  cursor:pointer;
  display:grid;
  gap:22px;
  grid-template-columns:5fr 200px minmax(100px, 1fr) minmax(100px, 1fr) auto;
  position:relative;
  z-index:1;
}

.people-list__details{
  display:flex;
  flex-direction:column;
}

.people-list__details-name{
  color:var(--dark);
  font-family:Bodoni;
  font-size:1.4375rem;
  font-style:italic;
  font-weight:400;
  line-height:1.5625rem;
}

.people-list__details-job{
  color:var(--grey);
  font-size:.9375rem;
  font-style:normal;
  font-weight:700;
  line-height:1.5625rem;
  text-transform:uppercase;
}

.people-list__photo-container{
  position:relative;
}

.people-list__photo{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  height:190px;
  left:50%;
  opacity:0;
  position:absolute;
  top:50%;
  transform:translate(-50%, -50%);
  transition:all .1s ease-out;
  width:166px;
}

.people-list__line:hover .people-list__photo{
  opacity:1;
}

.people-list__experience,.people-list__price{
  color:var(--dark);
  font-size:1rem;
  font-style:normal;
  font-weight:400;
  line-height:1.625rem;
}

.people-list__action-button{
  width:-moz-max-content;
  width:max-content;
}

.people-list__line:not(:hover) .people-list__action .btn{
  background:var(--light);
  color:var(--brand);
}

.suggestion{
  background:#03225c;
  min-height:500px;
}

.suggestion__layout{
  align-items:flex-end;
  display:flex;
  justify-content:space-between;
  overflow:hidden;
  transform:translateY(97px);
}

.suggestion__image{
  background-position:50%;
  background-size:cover;
  flex:0 0 549px;
  height:630px;
  max-height:50vw;
  width:549px;
}

.suggestion__image--workers{
  background-image:url(../assets/images/workers.png);
}

.suggestion__image--nothing{
  background-image:url(../assets/images/nothing.png);
}

.suggestion__text{
  margin-left:43px;
  padding:0 0 159px;
}

.suggestion__heading{
  color:#fff;
  font-size:3.625rem;
  line-height:3.875rem;
}

.suggestion__sub-heading{
  color:#ff683e;
  font-size:2.5rem;
  line-height:3.5rem;
}

.suggestion__paragraph-text{
  color:var(--light);
  font-size:1.125rem;
  font-style:normal;
  font-weight:400;
  line-height:1.625rem;
  margin:37px 0 27px;
}

.suggestion__button.btn:hover{
  background-color:#456fcb;
}

.suggestion__button a,.suggestion__button a:hover{
  color:unset;
}

.mission{
  margin:276px 0 166px;
}

.mission-inner{
  align-items:center;
  display:flex;
  flex-direction:column;
}

.mission-inner__heading.heading{
  font-size:3.375rem;
  line-height:3.25rem;
  text-align:center;
}

.mission-inner__sub-heading.sub-heading{
  font-size:2.3125rem;
  font-weight:700;
  line-height:3.25rem;
  margin-bottom:27px;
  text-align:center;
}

.mission__copy{
  color:var(--dark);
  font-size:1.125rem;
  font-style:normal;
  font-weight:400;
  line-height:1.625rem;
  margin-bottom:47px;
  max-width:905px;
  text-align:center;
}

.footer{
  background-color:var(--dark-bg);
  padding:32px 0;
}

.footer__upper-layout{
  display:flex;
  justify-content:space-between;
  margin-bottom:176px;
}

.footer__logo{
  flex:0 0 217px;
}

.footer__logo svg{
  max-width:217px;
}

.footer__nav{
  -moz-column-gap:58px;
       column-gap:58px;
  display:grid;
  flex:0 1 max-content;
  grid-template-columns:1fr 1fr;
  margin-left:20px;
  row-gap:16px;
}

.footer__nav-item a{
  color:var(--light);
  font-size:.9375rem;
  font-style:normal;
  font-weight:700;
  letter-spacing:.08em;
  line-height:1.4375rem;
  text-transform:uppercase;
}

.footer__lower-layout{
  align-items:flex-end;
  display:flex;
}

.footer__lower-right{
  display:flex;
  flex:1 0 auto;
  justify-content:flex-end;
}

.footer__heading{
  color:#fff;
  font-family:Bodoni;
  font-size:3.6875rem;
  font-style:italic;
  font-weight:400;
  line-height:3.25rem;
}

.footer__sub-heading{
  color:var(--accent);
  font-size:2.3125rem;
  font-weight:700;
  line-height:3.25rem;
  text-transform:uppercase;
}

.footer__legal{
  align-items:flex-end;
  color:var(--grey);
  display:flex;
  font-size:.6875rem;
  font-style:normal;
  font-weight:400;
  letter-spacing:.08em;
  line-height:.8125rem;
  margin-right:32px;
  max-width:250px;
  text-transform:uppercase;
}

.footer__legal pre{
  font-family:inherit;
  white-space:pre-line;
}

.overlay{
  background:rgba(3,34,92,.431);
  display:block;
  height:100vh;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  top:0;
  transition:opacity .2s ease-out;
  width:100vw;
  z-index:3;
}

.overlay.active{
  opacity:1;
  pointer-events:all;
}

.overlay-panel{
  background:#fff;
  bottom:0;
  display:flex;
  height:100vh;
  max-width:80vw;
  min-width:50%;
  overflow:hidden;
  position:fixed;
  right:0;
  transform:translateX(100%);
  transition:all .2s ease-out;
  z-index:4;
}

.overlay-panel.active{
  transform:translate(0);
}

.panel-gutter{
  align-items:center;
  background:var(--brand);
  display:flex;
  flex:0 0 42px;
  justify-content:center;
}

.panel-gutter__label{
  color:#fff;
  cursor:pointer;
  text-orientation:sideways-right;
  text-transform:uppercase;
  writing-mode:vertical-rl;
}

.panel-content{
  display:flex;
  flex-direction:column;
  height:100%;
  max-height:100vh;
  overflow:auto;
  padding:32px 42px;
}

.calendar--overlay{
  flex:1 1 auto;
  margin:22px 0;
  overflow:hidden;
}

.panel-content__controls,.person-details{
  flex:0 0 min-content;
}

.person-details{
  display:flex;
}

.person-details__profile-container{
  align-items:stretch;
  display:flex;
  flex:0 0 152px;
  flex-direction:column;
}

.person-details__profile-image-container{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  height:174px;
  position:relative;
}

.person-details__profile-link{
  background:#ff683e;
  color:#fff;
  font-size:.8125rem;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.75rem;
  padding:13px 20px;
  text-transform:uppercase;
}

.person-details__info{
  margin-left:30px;
}

.person-details__name{
  color:#2e2e2e;
  font-family:Bodoni;
  font-size:1.4375rem;
  font-style:italic;
  font-weight:400;
  line-height:1.5625rem;
  margin-bottom:5px;
}

.person-details__title{
  color:#cdcdcd;
  font-size:.9375rem;
  font-style:normal;
  font-weight:700;
  line-height:1.5625rem;
  margin-bottom:8px;
  text-transform:uppercase;
}

.person-details__cost{
  color:#2e2e2e;
  font-size:1rem;
  font-style:normal;
  font-weight:700;
  line-height:1.625rem;
  margin-bottom:19px;
}

.person-details__text{
  color:#2e2e2e;
  font-size:.9375rem;
  font-style:normal;
  font-weight:400;
  line-height:1.4375rem;
}

.tags__container{
  display:flex;
  flex-wrap:wrap;
  margin:15px -6px 52px;
  max-width:-moz-fit-content;
  max-width:fit-content;
}

.tags__tag{
  background:var(--light);
  color:var(--grey);
  cursor:pointer;
  font-size:.8125rem;
  font-style:normal;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.75rem;
  margin:6px;
  padding:12px 18px;
  text-transform:uppercase;
}

.search__section--alternative .tags__tag{
  background:#fff;
}

.tags__tag:hover{
  color:#b6b6b6;
}

.scroll-back{
  background:var(--light);
  position:fixed;
  top:var(--header-height);
  transform:translateY(-120px);
  transition:transform .2s ease-out;
  width:100vw;
  z-index:1;
}

.scroll-back.visible{
  transform:translateY(0);
}

.scroll-back__inner{
  justify-content:space-between;
  padding:22px 0;
}

.scroll-back__back-link,.scroll-back__inner{
  align-items:center;
  display:flex;
}

.scroll-back__icon{
  background-image:url(../assets/images/arrow.svg);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover;
  flex:0 0 16px;
  height:12px;
  margin-right:12px;
  transform:scaleX(-1);
}

.scroll-back__caption{
  color:var(--gray);
  flex:1 0 auto;
  font-size:.9375rem;
  font-style:normal;
  font-weight:700;
  line-height:.9375rem;
  text-transform:uppercase;
  transform:translateY(2px);
}

.scroll-back__heart{
  height:21px;
  width:21px;
}

.scroll-back__heart svg{
  height:100%;
  width:100%;
}

.scroll-back__heart path{
  transition:stroke .2s ease;
}

.scroll-back__heart:not(:hover) path{
  stroke:var(--grey);
}

.fc ::-webkit-scrollbar{
  background-color:var(--light);
  width:12px;
}

.fc ::-webkit-scrollbar-thumb{
  background-clip:content-box;
  background-color:#fff;
  border:4px solid transparent;
  border-radius:3px;
  width:6px;
}

.expert-profile{
  display:flex;
  margin-top:89px;
}

.expert-profile__profile-container{
  align-items:stretch;
  align-self:flex-start;
  display:flex;
  flex:0 0 260px;
  flex-direction:column;
  margin-bottom:20px;
  position:sticky;
  top:var(--header-height);
  transition:top .2s ease-out;
}

.expert-profile__profile-container.shift{
  top:calc(var(--header-height) + 75px);
}

.expert-profile__profile-image-container{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  height:297px;
  position:relative;
}

.expert-profile__profile-link{
  background:#ff683e;
  color:#fff;
  font-size:.8125rem;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.75rem;
  padding:13px 20px;
  text-transform:uppercase;
}

.expert-profile__info{
  margin-left:30px;
}

.expert-profile__name{
  color:var(--dark);
  font-family:Bodoni;
  font-size:1.4375rem;
  font-style:italic;
  font-weight:400;
  line-height:1.5625rem;
  margin-bottom:5px;
}

.expert-profile__title{
  color:var(--grey);
  font-size:.9375rem;
  font-style:normal;
  font-weight:700;
  line-height:1.5625rem;
  margin-bottom:8px;
  text-transform:uppercase;
}

.expert-profile__cost{
  color:#2e2e2e;
  font-size:1rem;
  font-style:normal;
  font-weight:700;
  line-height:1.625rem;
}

.expert-profile__text{
  color:var(--dark);
  font-size:.9375rem;
  font-style:normal;
  font-weight:400;
  line-height:1.4375rem;
  margin:20px 0;
}

.expert-profile__text p:not(:last-child){
  margin-bottom:18px;
}

.expert-profile__actions{
  display:flex;
  flex-direction:column;
  margin-top:26px;
}

.expert-profile__actions>:not(:first-child){
  margin-top:17px;
}

.expert-profile__heading{
  color:var(--dark);
  font-family:Bodoni;
  font-size:1.75rem;
  font-style:italic;
  font-weight:400;
  line-height:1.5625rem;
}

.expert-profile__sub-heading{
  color:var(--brand);
  font-size:1.0625rem;
  font-weight:700;
  line-height:1.5625rem;
  text-transform:uppercase;
}

.calendarEl{
  min-height:400px;
}

.calendar--profile{
  margin:33px 0 52px;
}

.help-list{
  display:grid;
  gap:12px;
  grid-auto-flow:column;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows:repeat(6, min-content);
  margin:16px 0 52px;
}

.help-list-item:before{
  content:"—";
  margin-right:8px;
}

.help-list-item{
  font-size:.9375rem;
  font-weight:400;
  line-height:1.4375rem;
}

.comments-header{
  display:flex;
  margin:0 0 22px;
}

.comments-header__left{
  flex:1 0 auto;
}

.comments-header__right{
  color:var(--accent);
  flex:0 0 80px;
  font-size:1.0625rem;
  font-weight:700;
  line-height:1.0625rem;
  text-align:right;
}

.comments-list{
  display:flex;
  flex-direction:column;
  margin:0 0 138px;
}

.comments-list>:not(:first-child){
  margin-top:1.4375rem;
}

.comment__container{
  background:#fff;
  box-shadow:0 8px 31px rgba(28,81,185,.05);
  padding:20px 32px 20px 23px;
}

.comment_text{
  color:var(--dark);
  font-size:.9375rem;
  font-style:normal;
  font-weight:400;
  line-height:1.5625rem;
  margin-bottom:19px;
}

.comment__info{
  align-items:center;
  display:flex;
}

.comment__info :not(:first-child){
  margin-left:20px;
}

.comment__image{
  align-items:center;
  background:#f9f7f2;
  color:gray;
  display:flex;
  flex:0 0 32px;
  height:32px;
  justify-content:center;
}

.comment__author{
  color:var(--dark);
  flex:2 0 auto;
  font-family:Bodoni;
  font-size:1.4375rem;
  font-style:italic;
  line-height:1.5625rem;
}

.comment__date{
  color:var(--grey);
  flex:0 0 max-content;
  font-size:.8125rem;
  font-style:normal;
  font-weight:400;
  line-height:1.625rem;
  text-align:right;
}

.profile-action.block-link{
  align-items:center;
  display:flex;
}

.profile-action.block-link>:not(:first-child){
  margin-left:12px;
}

.profile-action__icon{
  align-items:center;
  background-color:var(--light);
  display:flex;
  height:36px;
  justify-content:center;
  width:36px;
}

.profile-action__icon--messages{
  background:var(--accent);
  color:#fff;
}

.profile-action:hover .profile-action__icon--messages{
  background:var(--accent-hover);
}

.profile-action--dark:hover .profile-action__icon{
  background-color:var(--dark-bg);
}

.profile-action__icon-action{
  background-color:var(--light);
  height:36px;
  width:36px;
}

.profile-action__icon--arrow{
  background-image:url(../assets/images/arrow.svg);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:16px 16px;
  height:100%;
  transition:transform .1s ease;
  width:100%;
}

.expert-profile__action:hover .profile-action__icon--arrow{
  transform:rotate(90deg);
}

.profile-action--dark:hover .profile-action__icon--arrow{
  color:#fff;
}

.profile-action__icon--arrow--rotate{
  transform:rotate(-90deg);
}

.profile-action__text{
  color:var(--grey);
  font-size:.9375rem;
  font-style:normal;
  font-weight:700;
  line-height:.9375rem;
  text-transform:uppercase;
}

.profile-action:hover .profile-action__text{
  color:var(--brand);
}

.profile-photo__container{
  align-items:stretch;
  display:flex;
  flex-direction:column;
}

.profile-photo__image-container{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  flex:1 0 auto;
  height:297px;
  position:relative;
}

.profile-photo__icon{
  align-items:center;
  background-color:var(--grey);
  display:flex;
  height:52px;
  justify-content:center;
  position:absolute;
  right:0;
  top:0;
  width:52px;
}

.profile-photo__link{
  background:#ff683e;
  color:#fff;
  flex:0 0 max-content;
  font-size:.8125rem;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.75rem;
  padding:13px 20px;
  text-align:center;
  text-transform:uppercase;
}

.profile-photo__link:hover{
  background:var(--accent-hover);
  color:#fff;
}

.profile-photo__link--cabinet{
  background-color:var(--brand);
}

.profile-photo__link--cabinet:hover{
  background:#2d5ebe;
  color:#fff;
}

.cabinet{
  display:flex;
  margin-top:89px;
  overflow:hidden;
}

.cabinet__profile-container{
  flex:0 0 260px;
}

.cabinet__actions{
  display:flex;
  flex-direction:column;
  margin-top:26px;
}

.cabinet__actions>:not(:first-child){
  margin-top:17px;
}

.cabinet__content{
  margin-left:45px;
  overflow:hidden;
}

.constraints{
  margin-bottom:28px;
}

.constraints__item{
  position:relative;
}

.constraints__item.active{
  color:var(--accent);
}

.constraints__item:before{
  background:var(--grey);
  content:"";
  height:2px;
  left:-20px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:12px;
}

.constraints__item:not(:last-child){
  margin-bottom:16px;
}

.cabinet-heading{
  font-size:1.75rem;
  line-height:1.5625rem;
}

.cabinet-sub-heading{
  font-size:1.0625rem;
  line-height:1.5625rem;
  margin-bottom:27px;
}

.competencies{
  background:#fff;
  border:2px solid var(--light);
  padding:21px 21px 18px;
}

.competencies__label{
  color:var(--grey);
  font-size:.8125rem;
  letter-spacing:.08em;
  line-height:.75rem;
  margin-bottom:14px;
  text-transform:uppercase;
}

.competencies__tags{
  display:flex;
  flex-wrap:wrap;
}

.cabinet-form__text{
  color:var(--dark);
  font-size:1rem;
  font-weight:400;
  line-height:1.625rem;
  margin-bottom:14px;
}

:root{
  --header-height-become:93px;
}

body.become-expert{
  background-color:var(--light);
}

.become-header{
  align-items:center;
  background:#fff;
  display:flex;
  height:var(--header-height-become);
  justify-content:center;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100vw;
}

.become__container{
  display:flex;
  flex-direction:column;
  margin:auto;
  max-width:590px;
  min-height:calc(100vh - var(--header-height-become));
  padding:32px 0;
}

.become__heading{
  font-size:1.9375rem;
  line-height:1.8125rem;
  text-align:center;
}

.become__subheading{
  font-size:1.5rem;
  line-height:2.1875rem;
  margin-bottom:25px;
  text-align:center;
}

.become-form{
  background:#fff;
  padding:31px 36px;
}

.form-input__container{
  align-items:center;
  background:#fff;
  border:2px solid var(--light);
  display:flex;
  padding:21px;
}

.form-input__container:not(:last-child){
  margin-bottom:23px;
}

.form-input__container.active{
  border:2px solid var(--brand);
}

.form-input__container--smallgap:not(:last-child){
  margin-bottom:12px;
}

.form-input__label{
  color:var(--grey);
}

.form-input__input,.form-input__label{
  font-size:.8125rem;
  letter-spacing:.08em;
  line-height:.75rem;
  text-transform:uppercase;
}

.form-input__input{
  color:var(--brand);
  flex:1 0 auto;
  font-weight:700;
  margin-left:8px;
}

.form-input__photo-drag-container{
  align-items:center;
  background:var(--light);
  display:flex;
  flex-direction:column;
  height:88px;
  justify-content:center;
}

.form-input__photo-drag-title{
  line-height:1rem;
  text-transform:uppercase;
}

.form-input__photo-drag-subtitle,.form-input__photo-drag-title{
  color:#cdcdcd;
  font-size:.8125rem;
  letter-spacing:.08em;
  text-align:center;
}

.form-input__photo-drag-subtitle{
  line-height:1.25rem;
}

.form__button{
  padding:13px 20px;
}

.form-input__check{
  flex:0 0 max-content;
}

.form-input__check:before{
  color:var(--brand);
  content:"✓";
}

.become-form__text,.form-input__hint{
  color:var(--grey);
  font-size:.8125rem;
  line-height:1.25rem;
}

.form-input__hint{
  font-weight:400;
  margin-bottom:23px;
  word-break:break-word;
}

.form-textarea__container{
  background:#fff;
  border:2px solid var(--light);
  margin-bottom:23px;
  padding:21px;
}

.form-textarea__label{
  color:var(--grey);
  font-size:.8125rem;
  letter-spacing:.08em;
  line-height:.75rem;
  margin-bottom:14px;
  text-transform:uppercase;
}

.form-textarea__input{
  color:var(--dark);
  font-size:.9375rem;
  font-weight:400;
  line-height:1.4375rem;
  min-height:400px;
  width:100%;
}

:root .fc{
  --fc-today-bg-color:#f9f7f2;
  --fc-button-bg-color:var(--light);
  --fc-button-border-color:transparent;
  --fc-button-hover-bg-color:var(--brand);
  --fc-button-hover-border-color:transparent;
  --fc-button-active-bg-color:var(--brand);
  --fc-button-active-border-color:transparent;
  --fc-button-text-color:var(--brand);
  --fc-neutral-text-color:var(--light);
  --fc-border-color:#f2f2f2;
}

.fc a{
  color:var(--dark);
}

.fc a:hover{
  color:var(--brand);
  cursor:pointer;
}

.fc .fc-icon-chevron-left:before{
  content:"🡐";
  display:block;
  font-family:sans-serif;
  font-weight:700;
}

.fc .fc-icon-chevron-right:before{
  content:"🡒";
  display:block;
  font-family:sans-serif;
  font-weight:700;
}

.fc button.fc-today-button{
  display:none;
}

.fc-toolbar-title{
  font-family:Bodoni;
  font-style:italic;
}

.fc button.fc-button-primary{
  font-weight:700;
}

.fc button.fc-button{
  border-radius:unset;
}

.fc button.fc-button-primary:active,.fc button.fc-button-primary:hover,.fc button.fc-button-primary:not(:disabled).fc-button-active{
  color:#fff;
}

tr.fc-scrollgrid-section.fc-scrollgrid-section-liquid{
  box-shadow:inset 0 8px 31px rgba(28,81,185,.05);
}

.fc td.fc-timegrid-slot-minor{
  border-top-style:dashed;
}

.burger{
  display:none;
  flex-direction:column;
  height:32px;
  justify-content:space-between;
  transition:transform .3s ease;
}

.bar{
  background-color:#000;
  border-radius:3px;
  flex:0 0 6px;
  transition:all .2s ease;
  width:32px;
}

.burger.active{
  display:none;
  flex-direction:column;
  height:32px;
  justify-content:space-between;
  transform:rotate(180deg);
}

.burger.active .bar:first-child{
  transform:rotate(45deg) translate(9px, 9px);
}

.burger.active .bar:nth-child(2){
  transform:scaleX(0);
}

.burger.active .bar:nth-child(3){
  transform:rotate(-45deg) translate(9px, -9px);
}

.switcher{
  position:relative;
}

.switcher__child{
  visibility:hidden;
}

.switcher__child:not(.visible){
  display:none;
}

.switcher__child.visible{
  visibility:visible;
}

.switcher__button-container{
  align-items:center;
  background:#fff;
  border-radius:6px;
  bottom:6px;
  box-shadow:4px 4px 12px 0 rgba(0,0,0,.2);
  cursor:pointer;
  display:flex;
  height:0;
  justify-content:center;
  left:50%;
  opacity:0;
  overflow:hidden;
  padding:0 12px;
  position:absolute;
  transform:translateX(-50%);
  transition:all .2s ease;
  width:-moz-max-content;
  width:max-content;
}

.switcher__button-container>:not(:first-child){
  margin-left:12px;
}

.switcher:hover .switcher__button-container{
  display:flex;
  height:-moz-max-content;
  height:max-content;
  opacity:1;
  padding:8px 12px;
}

.switcher__button{
  background-color:#ddd;
  border-radius:6px;
  height:12px;
  width:12px;
}

.switcher__button,.switcher__label{
  transition:background-color .3s ease;
}

.switcher__label{
  color:#ddd;
  font-family:Roboto,sans-serif;
  font-size:14px;
}

.switcher__button-container:hover .switcher__button{
  background-color:#999;
}

.switcher__button-container:hover .switcher__button.active,.switcher__button-container:hover .switcher__button:hover{
  background-color:#ff7474;
}

.switcher__button-container:hover .switcher__label{
  color:#999;
}

@media (max-width:991.98px){
  :root{
    font-size:13px;
  }
  .container.container--very-narrow{
    margin:0 40px;
    max-width:100%;
  }
  .logo{
    flex:0 0 184px;
  }
  .nav>:not(:first-child){
    margin-left:16px;
  }
  .nav__link:not(.btn){
    font-size:.8rem;
  }
  .nav__link.btn{
    min-width:141px;
    padding:10px;
  }
  .card{
    width:calc(33.33% - 20px);
  }
  .searchbar{
    min-width:700px;
  }
  .people-list__line-inner{
    gap:10px;
    grid-template-columns:5fr 180px minmax(80px, 1fr) minmax(90px, 1fr) auto;
  }
  .suggestion__text{
    flex:1 1 auto;
    margin-left:0;
    margin-top:20px;
    padding:0 0 129px;
  }
  .footer{
    padding-top:62px;
  }
  .footer__upper-layout{
    flex-direction:column;
  }
  .footer__logo{
    flex:0 0 auto;
  }
  .footer__nav{
    margin-left:0;
    margin-top:50px;
  }
  .overlay-panel{
    flex-direction:column;
    height:75vh;
    max-width:100vw;
    min-width:100vw;
    transform:translateY(100%);
  }
  .panel-gutter__label{
    text-orientation:unset;
    writing-mode:unset;
  }
}

@media (max-width:767.98px){
  :root{
    --header-height:93px;
    font-size:14px;
  }
  .container{
    margin:0 20px;
    max-width:100%;
  }
  .container.container--narrow,.container.container--very-narrow{
    margin:0 25px;
    max-width:100%;
  }
  .nav{
    background-color:#fff;
    background-color:var(--light);
    flex-direction:column;
    height:calc(100vh - var(--header-height));
    justify-content:flex-start;
    left:0;
    padding:3.75rem;
    position:absolute;
    top:var(--header-height);
    transform:translateX(100%);
    transition:transform .2s ease;
    width:100vw;
  }
  .nav>:not(:first-child){
    margin-left:0;
    margin-top:1.875rem;
  }
  .nav.active{
    display:flex;
    overflow:auto;
    transform:translateX(0);
  }
  .hero__heading.heading{
    font-size:3rem;
    line-height:3rem;
  }
  .hero__sub-heading.sub-heading{
    font-size:2.25rem;
    line-height:2.25rem;
  }
  .card{
    height:180px;
    width:calc(50% - 20px);
  }
  .card__title{
    font-size:1.5rem;
  }
  .searchbar{
    min-width:100%;
  }
  .searchbar__helptext{
    display:none;
  }
  .searchbar__helptext-mobile{
    display:block;
  }
  .people-list__heading{
    font-size:3rem;
    line-height:2.75rem;
  }
  .people-list__sub-heading{
    font-size:2.5rem;
    line-height:2.75rem;
  }
  .people-list__line:nth-child(odd){
    background-color:var(--light);
  }
  .people-list__line .btn{
    border:1px solid var(--brand);
  }
  .people-list__line-inner{
    align-items:start;
    gap:8px;
    grid-template-columns:2fr 1fr;
  }
  .people-list__details-job{
    font-size:.8125rem;
  }
  .people-list__photo-container{
    grid-row:span 5;
    height:100%;
  }
  .people-list__photo{
    opacity:1;
    position:static;
    transform:unset;
  }
  .people-list__action{
    padding-top:20px;
  }
  .suggestion__layout{
    align-items:flex-start;
    display:flex;
    flex-direction:column;
    padding:50px 0;
    transform:translate(0);
  }
  .suggestion__text{
    padding:0 !important;
  }
  .suggestion__heading{
    font-size:2.5rem;
    line-height:2.5rem;
  }
  .suggestion__sub-heading{
    font-size:2.2rem;
    line-height:3.2rem;
  }
  .mission{
    margin:60px 0;
  }
  .mission-inner__heading.heading{
    font-size:2.5rem;
    line-height:2.5rem;
  }
  .mission-inner__sub-heading.sub-heading{
    font-size:2.2rem;
    line-height:2.5rem;
    margin-top:10px;
  }
  .footer__lower-layout{
    flex-direction:column;
  }
  .footer__legal{
    margin-right:0;
    text-align:right;
  }
  .overlay-panel{
    max-height:100vh;
    min-height:100vh;
  }
  .expert-profile{
    flex-direction:column;
  }
  .expert-profile__profile-container{
    -moz-column-gap:20px;
         column-gap:20px;
    display:grid;
    grid-template-columns:260px auto;
    grid-template-rows:400px auto;
    position:static;
  }
  .expert-profile__profile-image-container{
    height:100%;
  }
  .expert-profile__profile-link{
    grid-column:1;
    grid-row:2;
  }
  .expert-profile__info{
    margin-left:0;
    margin-top:30px;
  }
  .cabinet__actions,.expert-profile__actions{
    margin-top:0;
  }
  .burger,.burger.active{
    display:flex;
  }
}

@media (max-width:499.98px){
  :root{
    font-size:12px;
  }
  .people-list__line-inner{
    display:flex;
    flex-direction:column;
    position:static;
    transform:unset;
  }
  .footer__upper-layout{
    margin-bottom:55px;
  }
  .footer__nav{
    display:flex;
    flex-direction:column;
  }
  .expert-profile__profile-container{
    grid-template-columns:100%;
  }
  .expert-profile__profile-link{
    grid-column:unset;
    grid-row:unset;
  }
  .expert-profile__actions{
    margin-top:16px;
  }
  .help-list{
    grid-auto-flow:unset;
    grid-template-columns:1fr;
    grid-template-rows:unset;
  }
  .comment__info{
    flex-wrap:wrap;
  }
  .comment__date{
    flex:0 0 100%;
    text-align:unset;
  }
  .cabinet__actions{
    margin-top:16px;
  }
}

@media (max-width:1299.98px){
  .container,.container.container--narrow{
    margin:0 40px;
    max-width:100%;
  }
  .nav__link:not(.btn){
    font-size:calc(.7rem + .2vmin);
  }
  .suggestion__image{
    flex:1 0 50%;
    flex:0 0 50vw;
    width:unset;
    width:100%;
  }
  .suggestion__text{
    flex:1 1 auto;
    padding:0 0 139px;
  }
  .help-list{
    grid-template-rows:repeat(9, min-content);
  }
}

@media (min-width:767.98px){
  .people-list__line:hover{
    background-color:var(--light);
  }
}
/*# sourceMappingURL=index.css.map */
