*{
  border:0;
  margin:0;
  padding:0;
}

*,:after,:before{
  box-sizing:border-box;
}

:active,:focus,a:active,a:focus{
  outline:none;
}

aside,footer,header,nav{
  display:block;
}

body,html{
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-size:100%;
  font-size:16px;
  height:100%;
  line-height:1;
  width:100%;
}

button,input,textarea{
  font-family:inherit;
}

input::-ms-clear{
  display:none;
}

button{
  cursor:pointer;
  font-weight:inherit;
}

button::-moz-focus-inner{
  border:0;
  padding:0;
}

a,a:hover,a:visited{
  text-decoration:none;
}

ul li{
  list-style:none;
}

img{
  vertical-align:top;
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight:inherit;
}

:root{
  --accent:#ff683e;
  --dark-bg:#03225c;
  --dark:#2e2e2e;
  --brand:#1c51b9;
  --light:#f9f7f2;
  --grey:#cdcdcd;
  font-size:16px;
}

@font-face{
  font-family:Gotham Pro;
  font-weight:700;
  src:url(../assets/fonts/Gotham_Pro_Bold.woff)
}

@font-face{
  font-family:Gotham Pro;
  font-weight:400;
  src:url(../assets/fonts/Gotham_Pro_Regular.woff)
}

.btn{
  display:flex;
  font-size:16px;
  justify-content:center;
  min-width:181px;
  padding:10px 20px;
  text-transform:uppercase;
}

.btn,.btn-primary{
  border:none;
  cursor:pointer;
}

.btn-primary{
  background-color:var(--brand);
  color:#fff;
  font-size:1rem;
}

.btn-primary:hover{
  background-color:var(--dark-bg);
  color:#fff;
}

.btn-primary:active{
  background-color:#0d378d;
}

.btn-primary:focus{
  box-shadow:0 0 0 3px #8398c4;
  outline:none;
}

.btn-primary:disabled{
  background-color:var(--grey);
}

a{
  color:var(--brand);
}

.heading,a:hover{
  color:var(--dark);
}

.heading{
  font-family:Bodoni;
  font-size:4.375rem;
  font-style:italic;
  font-weight:400;
}

.heading,.sub-heading{
  line-height:4.1875rem;
}

.sub-heading{
  color:var(--brand);
  font-size:3.125rem;
  font-style:normal;
  font-weight:700;
  text-transform:uppercase;
}

body{
  background:#fff;
  color:var(--dark);
  font-family:Gotham Pro;
  font-weight:700;
  padding-top:123px;
}

.container{
  margin:auto;
  max-width:1200px;
}

.container.container--narrow{
  margin:auto;
  max-width:1050px;
}

.site-header{
  background:#fff;
  height:123px;
  position:fixed;
  top:0;
  width:100vw;
  z-index:2;
}

.site-header__layout{
  align-items:center;
  display:flex;
  gap:20px;
  justify-content:space-between;
  padding:50px 0;
}

.logo{
  flex:0 0 216px;
  height:23px;
}

.nav{
  align-items:center;
  display:flex;
  gap:40px;
  justify-content:space-between;
}

.nav__link:not(.btn){
  color:var(--dark);
  display:inline-block;
  font-size:.9375rem;
  font-weight:700;
  letter-spacing:.08em;
  line-height:.875rem;
  padding:.75rem 0;
  position:relative;
  text-align:right;
  text-transform:uppercase;
}

.nav__link:not(.btn):before{
  background-color:var(--brand);
  bottom:0;
  content:"";
  height:4px;
  left:0;
  opacity:0;
  position:absolute;
  transition:opacity .1s ease-out;
  width:100%;
}

.nav__link:not(.btn):hover:before{
  opacity:1;
}

.hero{
  background-color:var(--light);
  height:682px;
}

.hero__container,.hero__main{
  align-items:center;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
}

.hero__main{
  padding:3.75rem;
}

.hero__bottom{
  height:-moz-max-content;
  height:max-content;
}

.hero__heading.heading{
  font-size:4.375rem;
  line-height:4.1875rem;
  text-align:center;
}

.hero__sub-heading.sub-heading{
  font-size:3.125rem;
  line-height:4.1875rem;
  padding-bottom:2.9375rem;
  text-align:center;
}

.hero__sub-heading.sub-heading span{
  display:inline;
  white-space:nowrap;
}

.hero__copy{
  color:var(--dark);
  font-size:18px;
  max-width:720px;
  padding-bottom:1.8125rem;
}

.hero__copy,.hero__info{
  font-style:normal;
  font-weight:400;
  line-height:26px;
  text-align:center;
}

.hero__info{
  color:var(--grey);
  font-size:13px;
  margin-bottom:62px;
}

.list_layout{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
  transform:translateY(-42px);
}

.card{
  background:#fff;
  box-shadow:0 8px 31px rgba(28,81,185,.05);
  cursor:pointer;
  display:flex;
  flex-direction:column;
  height:227px;
  width:calc(20% - 16px);
}

.card__top{
  align-items:center;
  display:flex;
  flex:1 0 auto;
  flex-direction:column;
  justify-content:center;
  padding:5px;
}

.card__title{
  color:var(--dark);
  font-family:Bodoni;
  font-size:1.75rem;
  font-style:italic;
  font-weight:400;
}

.card__subtitle,.card__title{
  line-height:1.5625rem;
  text-align:center;
}

.card__subtitle{
  color:var(--grey);
  font-size:1.0625rem;
  font-style:normal;
  font-weight:700;
  text-transform:uppercase;
}

.card:hover .card__subtitle{
  color:var(--brand);
}

.card__bottom{
  align-items:center;
  background-blend-mode:multiply;
  background-color:#ff683e;
  background-image:url(../assets/images/look-at-this-shit.png);
  color:#fff;
  display:flex;
  flex:0 0 0px;
  font-size:18px;
  font-style:normal;
  font-weight:400;
  justify-content:center;
  line-height:26px;
  overflow:hidden;
  position:relative;
  transition:all .1s ease-out;
}

.card__bottom-overlay{
  background-blend-mode:multiply;
  background-color:#ff683e;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.card:hover .card__bottom{
  flex:0 0 101px;
}

.search__section{
  padding:70px 0 72px;
}

.search__container{
  align-items:center;
  display:flex;
  flex-direction:column;
  gap:22px;
  justify-content:center;
}

.searchbar{
  background:#fff;
  border:2px solid var(--brand);
  display:block;
  font-size:13px;
  font-style:normal;
  font-weight:700;
  letter-spacing:.08em;
  line-height:12px;
  margin:auto;
  min-width:830px;
  padding:12px 12px 12px 36px;
  position:relative;
  text-transform:uppercase;
}

.searchbar__icon{
  background-image:url(../assets/images/glass.svg);
  height:14px;
  left:12px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:14px;
}

.searchbar__input{
  background:transparent;
  color:var(--brand);
  font-size:13px;
  position:relative;
  width:100%;
  z-index:1;
}

.searchbar__helptext{
  color:var(--grey);
  height:16px;
  left:36px;
  line-height:20px;
  opacity:1;
  position:absolute;
  top:50%;
  transform:translateY(calc(-50% + 2px));
  transition:opacity .1s ease-out;
  width:calc(100% - 42px);
}

.searchbar__helptext-mobile{
  color:var(--grey);
  display:none;
  line-height:20px;
  text-transform:uppercase;
}

.searchbar.active .searchbar__helptext{
  opacity:0;
}

.searchbar__highlight{
  color:var(--brand);
}

.people-list__heading,.people-list__sub-heading{
  text-align:center;
}

.people-list{
  margin:24px 0 101px;
}

.people-list__layout{
  margin-top:60px;
}

.people-list__more-button{
  background:#ff683e;
  color:#fff;
  display:block;
  margin:59px auto 0;
  min-width:255px;
  text-transform:uppercase;
}

.people-list__more-button:hover{
  background:#ff3700;
}

.people-list__line{
  padding:19px 0;
}

.people-list__line-inner{
  align-items:center;
  cursor:pointer;
  display:grid;
  gap:22px;
  grid-template-columns:5fr 200px minmax(100px, 1fr) minmax(100px, 1fr) minmax(183px, 1fr);
  position:relative;
  z-index:1;
}

.people-list__details{
  display:flex;
  flex-direction:column;
}

.people-list__details-name{
  color:var(--dark);
  font-family:Bodoni;
  font-size:23px;
  font-style:italic;
  font-weight:400;
  line-height:25px;
}

.people-list__details-job{
  color:var(--grey);
  font-size:15px;
  font-style:normal;
  font-weight:700;
  line-height:25px;
  text-transform:uppercase;
}

.people-list__photo-container{
  position:relative;
}

.people-list__photo{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  height:190px;
  left:50%;
  opacity:0;
  position:absolute;
  top:50%;
  transform:translate(-50%, -50%);
  transition:all .1s ease-out;
  width:166px;
}

.people-list__line:hover .people-list__photo{
  opacity:1;
}

.people-list__experience,.people-list__price{
  color:var(--dark);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:26px;
}

.people-list__line:not(:hover) .people-list__action .btn{
  background:var(--light);
  color:var(--brand);
}

.suggestion{
  background:#03225c;
  min-height:500px;
}

.suggestion__layout{
  align-items:flex-end;
  display:flex;
  gap:42px;
  transform:translateY(97px);
}

.suggestion__image{
  background-position:50%;
  background-size:cover;
  flex:0 0 549px;
  height:630px;
  width:549px;
}

.suggestion__image--workers{
  background-image:url(../assets/images/workers.png);
}

.suggestion__image--nothing{
  background-image:url(../assets/images/nothing.png);
}

.suggestion__text{
  padding:0 0 159px;
}

.suggestion__heading{
  color:#fff;
  font-size:3.625rem;
  line-height:3.875rem;
}

.suggestion__sub-heading{
  color:#ff683e;
  font-size:2.5rem;
  line-height:3.5rem;
}

.suggestion__paragraph-text{
  color:var(--light);
  font-size:18px;
  font-style:normal;
  font-weight:400;
  line-height:26px;
  margin:37px 0 27px;
}

.suggestion__button.btn:hover{
  background-color:#456fcb;
}

.suggestion__button a,.suggestion__button a:hover{
  color:unset;
}

.mission{
  margin:276px 0 166px;
}

.mission-inner{
  align-items:center;
  display:flex;
  flex-direction:column;
}

.mission-inner__heading.heading{
  font-size:54px;
  line-height:52px;
}

.mission-inner__sub-heading.sub-heading{
  font-size:37px;
  font-weight:700;
  line-height:52px;
  margin-bottom:27px;
}

.mission__copy{
  color:var(--dark);
  font-size:18px;
  font-style:normal;
  font-weight:400;
  line-height:26px;
  margin-bottom:47px;
  max-width:905px;
}

.mission-inner__heading,.mission-inner__sub-heading,.mission__copy{
  text-align:center;
}

.footer{
  background-color:var(--dark-bg);
  padding:32px 0;
}

.footer__upper-layout{
  display:flex;
  gap:20px;
  justify-content:space-between;
  margin-bottom:176px;
}

.footer__logo{
  flex:0 0 217px;
}

.footer__logo svg{
  max-width:217px;
}

.footer__nav{
  -moz-column-gap:58px;
       column-gap:58px;
  display:grid;
  flex:0 1 max-content;
  grid-template-columns:1fr 1fr;
  row-gap:16px;
}

.footer__nav-item a{
  color:var(--light);
  font-size:15px;
  font-style:normal;
  font-weight:700;
  letter-spacing:.08em;
  line-height:23px;
  text-transform:uppercase;
}

.footer__lower-layout{
  align-items:flex-end;
  display:flex;
}

.footer__lower-right{
  display:flex;
  flex:1 0 auto;
  justify-content:flex-end;
}

.footer__heading{
  color:#fff;
  font-family:Bodoni;
  font-size:3.6875rem;
  font-style:italic;
  font-weight:400;
  line-height:3.25rem;
}

.footer__sub-heading{
  color:var(--accent);
  font-size:2.3125rem;
  font-weight:700;
  line-height:3.25rem;
  text-transform:uppercase;
}

.footer__legal{
  align-items:flex-end;
  color:var(--grey);
  display:flex;
  font-size:11px;
  font-style:normal;
  font-weight:400;
  letter-spacing:.08em;
  line-height:13px;
  margin-right:32px;
  max-width:250px;
  text-transform:uppercase;
  white-space:pre-line;
}

.overlay{
  background:rgba(3,34,92,.431);
  display:block;
  height:100vh;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  top:0;
  transition:opacity .2s ease-out;
  width:100vw;
  z-index:3;
}

.overlay.active{
  opacity:1;
  pointer-events:all;
}

.overlay-panel{
  background:#fff;
  display:flex;
  height:100vh;
  min-width:900px;
  overflow:hidden;
  position:fixed;
  right:0;
  top:0;
  transform:translateX(100%);
  transition:all .2s ease-out;
  width:50%;
  z-index:4;
}

.overlay-panel.active{
  transform:translateX(0);
}

.panel-gutter{
  align-items:center;
  background:var(--brand);
  display:flex;
  flex:0 0 42px;
  justify-content:center;
}

.panel-gutter__label{
  color:#fff;
  cursor:pointer;
  text-orientation:sideways-right;
  text-transform:uppercase;
  writing-mode:vertical-rl;
}

.panel-content{
  display:flex;
  flex-direction:column;
  padding:32px 42px;
}

.calendarEl{
  height:100%;
  margin:22px 0;
  max-height:500px;
}

.person-details{
  display:flex;
  gap:30px;
}

.person-details__profile-container{
  align-items:stretch;
  display:flex;
  flex:0 0 152px;
  flex-direction:column;
}

.person-details__profile-image-container{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  height:174px;
  position:relative;
}

.person-details__profile-link{
  background:#ff683e;
  color:#fff;
  font-size:13px;
  font-weight:700;
  letter-spacing:.08em;
  line-height:12px;
  padding:13px 20px;
  text-transform:uppercase;
}

.person-details__name{
  color:#2e2e2e;
  font-family:Bodoni;
  font-size:23px;
  font-style:italic;
  font-weight:400;
  line-height:25px;
  margin-bottom:5px;
}

.person-details__title{
  color:#cdcdcd;
  font-size:15px;
  font-style:normal;
  font-weight:700;
  line-height:25px;
  margin-bottom:8px;
  text-transform:uppercase;
}

.person-details__cost{
  color:#2e2e2e;
  font-size:16px;
  font-style:normal;
  font-weight:700;
  line-height:26px;
  margin-bottom:19px;
}

.person-details__text{
  color:#2e2e2e;
  font-size:15px;
  font-style:normal;
  font-weight:400;
  line-height:23px;
}

.tags__tag{
  background:var(--light);
  color:var(--grey);
  cursor:pointer;
  font-size:13px;
  font-style:normal;
  font-weight:700;
  letter-spacing:.08em;
  line-height:12px;
  padding:12px 18px;
  text-transform:uppercase;
}

.tags__tag:hover{
  color:#b6b6b6;
}

.tags__container{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  margin:15px 0 52px;
  max-width:-moz-fit-content;
  max-width:fit-content;
}

.scroll-back{
  background:var(--light);
  position:fixed;
  top:120px;
  transition:transform .2s ease-out;
  width:100vw;
  z-index:1;
}

.scroll-back.hidden{
  transform:translateY(-120px);
}

.scroll-back__inner{
  display:flex;
  gap:12px;
  padding:22px 0;
}

.scroll-back__icon{
  background-image:url(../assets/images/arrow.svg);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover;
  flex:0 0 16px;
  height:12px;
  transform:scaleX(-1);
}

.scroll-back__caption{
  color:var(--gray);
  flex:1 0 auto;
  font-size:15px;
  font-style:normal;
  font-weight:700;
  line-height:15px;
  text-transform:uppercase;
}

.expert-profile{
  display:flex;
  gap:30px;
  margin-top:89px;
  overflow:hidden;
}

.expert-profile__profile-container{
  align-items:stretch;
  display:flex;
  flex:0 0 260px;
  flex-direction:column;
}

.expert-profile__profile-image-container{
  background-image:url(../assets/images/expertface.png);
  background-position:50%;
  background-size:cover;
  height:297px;
  position:relative;
}

.expert-profile__profile-link{
  background:#ff683e;
  color:#fff;
  font-size:13px;
  font-weight:700;
  letter-spacing:.08em;
  line-height:12px;
  padding:13px 20px;
  text-transform:uppercase;
}

.expert-profile__name{
  color:var(--dark);
  font-family:Bodoni;
  font-size:23px;
  font-style:italic;
  font-weight:400;
  line-height:25px;
  margin-bottom:5px;
}

.expert-profile__title{
  color:var(--grey);
  font-size:15px;
  font-style:normal;
  font-weight:700;
  line-height:25px;
  margin-bottom:8px;
  text-transform:uppercase;
}

.expert-profile__cost{
  color:#2e2e2e;
  font-size:16px;
  font-style:normal;
  font-weight:700;
  line-height:26px;
}

.expert-profile__text{
  color:var(--dark);
  font-size:15px;
  font-style:normal;
  font-weight:400;
  line-height:23px;
  margin:20px 0;
}

.expert-profile__text p:not(:last-child){
  margin-bottom:18px;
}

.expert-profile__actions{
  display:flex;
  flex-direction:column;
  gap:17px;
  margin-top:26px;
}

.expert-profile__heading{
  color:var(--dark);
  font-family:Bodoni;
  font-size:28px;
  font-style:italic;
  font-weight:400;
  line-height:25px;
}

.expert-profile__sub-heading{
  color:var(--brand);
  font-size:17px;
  font-weight:700;
  line-height:25px;
  text-transform:uppercase;
}

.calendarEl{
  margin:33px 0 52px;
}

.help-list{
  display:grid;
  gap:12px;
  grid-auto-flow:column;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows:repeat(6, min-content);
  margin:16px 0 52px;
}

.help-list-item:before{
  content:"—";
  margin-right:8px;
}

.help-list-item{
  font-size:15px;
  font-weight:400;
  line-height:23px;
}

.comments-header{
  display:flex;
  margin:0 0 22px;
}

.comments-header__left{
  flex:1 0 auto;
}

.comments-header__right{
  color:var(--accent);
  flex:0 0 80px;
  font-size:17px;
  font-weight:700;
  line-height:17px;
  text-align:right;
}

.comments-list{
  display:flex;
  flex-direction:column;
  gap:23px;
  margin:0 0 138px;
}

.comment__container{
  background:#fff;
  box-shadow:0 8px 31px rgba(28,81,185,.05);
  padding:20px 32px 20px 23px;
}

.comment_text{
  color:var(--dark);
  font-size:15px;
  font-style:normal;
  font-weight:400;
  line-height:25px;
  margin-bottom:19px;
}

.comment__info{
  gap:20px;
}

.comment__image,.comment__info{
  align-items:center;
  display:flex;
}

.comment__image{
  background:#f9f7f2;
  color:gray;
  flex:0 0 32px;
  height:32px;
  justify-content:center;
}

.comment__author{
  color:var(--dark);
  flex:2 0 auto;
  font-family:Bodoni;
  font-size:23px;
  font-style:italic;
  line-height:25px;
}

.comment__date{
  color:var(--grey);
  flex:0 0 max-content;
  font-size:13px;
  font-style:normal;
  font-weight:400;
  line-height:26px;
  text-align:right;
}

.expert-profile__action{
  align-items:center;
  display:flex;
  gap:12px;
}

.expert-profile__action-arrow{
  background-color:var(--light);
  background-image:url(../assets/images/arrow.svg);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:16px 16px;
  height:36px;
  width:36px;
}

.expert-profile__action-arrow--rotate{
  transform:rotate(-90deg);
}

.expert-profile__action-text{
  color:var(--grey);
  font-size:15px;
  font-style:normal;
  font-weight:700;
  line-height:15px;
  text-transform:uppercase;
}

.burger{
  display:none;
  flex-direction:column;
  height:32px;
  justify-content:space-between;
}

.bar{
  background-color:#000;
  border-radius:3px;
  flex:0 0 6px;
  transition:all .2s ease;
  width:32px;
}

.burger.active{
  display:none;
  flex-direction:column;
  height:32px;
  justify-content:space-between;
}

.burger.active .bar:first-child{
  transform:rotate(45deg) translate(9px, 9px);
}

.burger.active .bar:nth-child(2){
  transform:scaleX(0);
}

.burger.active .bar:nth-child(3){
  transform:rotate(-45deg) translate(9px, -9px);
}

@media (max-width:999.998px){
  :root{
    font-size:13px;
  }
  .logo{
    flex:0 0 14rem;
  }
  .nav{
    gap:16px;
  }
  .nav__link.btn{
    min-width:151px;
    padding:10px;
  }
  .card{
    width:calc(33.33333% - 13.33333px);
  }
  .searchbar{
    min-width:700px;
  }
  .people-list__line-inner{
    gap:10px;
    grid-template-columns:5fr 180px minmax(80px, 1fr) minmax(90px, 1fr) minmax(160px, 1fr);
  }
  .people-list__photo{
    height:100%;
    opacity:1;
    position:static;
    transform:unset;
  }
  .footer{
    padding-top:62px;
  }
  .footer__upper-layout{
    flex-direction:column;
    gap:50px;
  }
  .footer__logo{
    flex:0 0 auto;
  }
}

@media (max-width:799.998px){
  :root{
    font-size:14px;
  }
  .container{
    margin:0 20px;
    max-width:100%;
  }
  .container.container--narrow{
    margin:0 25px;
    max-width:100%;
  }
  .nav{
    background-color:#fff;
    flex-direction:column;
    gap:1.875rem;
    height:calc(100vh - 123px);
    justify-content:flex-start;
    left:0;
    padding:3.75rem;
    position:absolute;
    top:123px;
    transform:translateX(100%);
    transition:transform .2s ease;
    width:100vw;
  }
  .nav.active{
    display:flex;
    transform:translateX(0);
  }
  .hero__heading.heading{
    font-size:3rem;
    line-height:3rem;
  }
  .hero__sub-heading.sub-heading{
    font-size:2.25rem;
    line-height:2.25rem;
  }
  .card{
    width:calc(50% - 10px);
  }
  .card__title{
    font-size:1.5rem;
  }
  .searchbar{
    min-width:100%;
  }
  .searchbar__helptext{
    display:none;
  }
  .searchbar__helptext-mobile{
    display:block;
  }
  .people-list__heading{
    font-size:3rem;
    line-height:2.75rem;
  }
  .people-list__sub-heading{
    font-size:2.5rem;
    line-height:2.75rem;
  }
  .people-list__line:nth-child(odd){
    background-color:var(--light);
  }
  .people-list__line .btn{
    border:1px solid var(--brand);
  }
  .people-list__line-inner{
    align-items:start;
    gap:8px;
    grid-template-columns:2fr 1fr;
  }
  .people-list__details-job{
    font-size:13px;
  }
  .people-list__photo-container{
    grid-row:span 5;
    height:100%;
  }
  .people-list__action{
    padding-top:20px;
  }
  .suggestion__layout{
    align-items:flex-start;
    flex-direction:column;
  }
  .suggestion__image{
    flex:0 0 350px;
    width:100%;
  }
  .footer__lower-layout{
    flex-direction:column;
  }
  .footer__legal{
    margin-right:0;
    text-align:right;
  }
  .burger,.burger.active{
    display:flex;
  }
}

@media (max-width:1299.998px){
  .container,.container.container--narrow{
    margin:0 40px;
    max-width:100%;
  }
  .suggestion__image{
    flex:1 0 50%;
  }
  .suggestion__text{
    flex:1 0 50%;
    padding:0 0 149px;
  }
}

@media (min-width:799.998px){
  .people-list__line:hover{
    background-color:var(--light);
  }
}

@media (max-width:499.998px){
  .people-list__line-inner{
    display:block;
    position:static;
    transform:unset;
  }
  .footer__upper-layout{
    margin-bottom:55px;
  }
  .footer__nav{
    display:flex;
    flex-direction:column;
  }
}
/*# sourceMappingURL=index.css.map */
