.action-button.block-link {
  display: flex;
  align-items: center;
}

.action-button__icon {
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 36px;
  height: 36px;

  &:before {
    content: "\002B";
    font-size: 25px;
    font-weight: 400;
    color: var(--brand);
  }

  .action-button:hover & {
    background: var(--brand);
    &:before {
      color: white;
    }
  }
}

.action-button__text {
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
  color: var(--grey);
  margin-left: 12px;

  .action-button:hover & {
    color: var(--brand);
  }
}
