.people-list__line {
    padding: 19px 0;

    @media (max-width: $breakPointPhone) {
        &:nth-child(odd) {
            background-color: var(--light);
        }
        .btn {
            border: 1px solid var(--brand);
        }
    }
}

.people-list__line:hover {
    background-color: var(--light);
}

.people-list__line-inner {
    display: grid;
    gap: 22px;
    grid-template-columns: 5fr 200px minmax(100px, 1fr) minmax(100px, 1fr) minmax(183px, 1fr);
    cursor: pointer;
    position: relative;
    z-index: 1;
    align-items: center;

    @media (max-width: $breakPointTablet) {
        gap: 10px;
        grid-template-columns: 5fr 180px minmax(80px, 1fr) minmax(90px, 1fr) minmax(160px, 1fr);
    }

    @media (max-width: $breakPointPhone) {
        grid-template-columns: 2fr 1fr;
        gap: 8px;
        align-items: start;
    }

    @media (max-width: $breakPointSmallPhone) {
        display: block;
        transform: unset;
        position: static;
    }
}

.people-list__details {
    display: flex;
    flex-direction: column;
}

.people-list__details-name {
    font-family: "Bodoni";
    font-style: italic;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    color: var(--dark);
}

.people-list__details-job {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--grey);
}

.people-list__photo-container {
    position: relative;

    @media (max-width: $breakPointPhone) {
        grid-row: span 3;
    }
}

.people-list__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.1s ease-out;
    width: 166px;
    height: 190px;
    background-image: url(../assets/images/expertface.png);

    @media (max-width: $breakPointTablet) {
        opacity: 1;
        transform: unset;
        position: static;
    }
}

.people-list__line:hover .people-list__photo {
    opacity: 1;
}

.people-list__experience {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark);
}

.people-list__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark);
}

.people-list__action {
    @media (max-width: $breakPointPhone) {
        grid-column: span 2;
        padding-top: 20px;
    }
}

.people-list__line:not(:hover) .people-list__action .btn {
    background: var(--light);
    color: var(--brand);
}
