.expert-profile__action {
    display: flex;
    gap: 12px;
    align-items: center;
}

.expert-profile__action-arrow {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    background-image: url(../assets/images/arrow.svg);
    background-color: var(--light);
}

.expert-profile__action-arrow--rotate {
    transform: rotate(-90deg);
}

.expert-profile__action-text {
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: var(--grey);
}
