.experts__search {
  background: var(--light);
  padding-top: 194px;
  padding-bottom: 66px;
}

.experts__experts {
  margin-bottom: 100px;
}

.experts-mission {
  margin-top: 291px;
  margin-bottom: 165px;
}
