.people-list__line {
    padding: 19px 0;

    @media (max-width: $breakPointPhone) {
        &:nth-child(odd) {
            background-color: var(--light);
        }
        .btn {
            border: 1px solid var(--brand);
        }
    }
}

.people-list__line:hover {
    @media (min-width: $breakPointPhone) {
        background-color: var(--light);
    }
}

.people-list__line-inner {
    display: grid;
    gap: 22px;
    grid-template-columns: 5fr 200px minmax(100px, 1fr) minmax(100px, 1fr) auto;
    cursor: pointer;
    position: relative;
    z-index: 1;
    align-items: center;

    @media (max-width: $breakPointTablet) {
        gap: 10px;
        grid-template-columns: 5fr 180px minmax(80px, 1fr) minmax(90px, 1fr) auto;
    }

    @media (max-width: $breakPointPhone) {
        grid-template-columns: 2fr 1fr;
        gap: 8px;
        align-items: start;
    }

    @media (max-width: $breakPointSmallPhone) {
        display: flex;
        flex-direction: column;
        transform: unset;
        position: static;
    }
}

.people-list__details {
    display: flex;
    flex-direction: column;
}

.people-list__details-name {
    font-family: "Bodoni";
    font-style: italic;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.5625rem;
    color: var(--dark);
}

.people-list__details-job {
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    text-transform: uppercase;
    color: var(--grey);

    @media (max-width: $breakPointPhone) {
        font-size: 0.8125rem;
    }
}

.people-list__photo-container {
    position: relative;

    @media (max-width: $breakPointPhone) {
        grid-row: span 5;
        height: 100%;
    }
}

.people-list__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.1s ease-out;
    width: 166px;
    height: 190px;
    background-image: url(../assets/images/expertface.png);
    background-position: center center;
    background-size: cover;

    @media (max-width: $breakPointPhone) {
        transform: unset;
        position: static;
        opacity: 1;
    }
}

.people-list__line:hover .people-list__photo {
    opacity: 1;
}

.people-list__experience {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--dark);
}

.people-list__price {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--dark);
}

.people-list__action {
    @media (max-width: $breakPointPhone) {
        padding-top: 20px;
    }
}

.people-list__action-button {
    width: max-content;
}

.people-list__line:not(:hover) .people-list__action .btn {
    background: var(--light);
    color: var(--brand);
}
