.form-input__container {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid var(--light);
  padding: 21px;

  &.active {
    border: 2px solid var(--brand);
  }
}

.form-input__label {
  flex: 0 0 max-content;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--grey);
}

.form-input__input {
  flex: 1 1 auto;
  margin-left: 8px;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--brand);
  min-width: 0;
}

.form-input__photo-drag-container {
  background: var(--light);
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input__photo-drag-title {
  font-size: 0.8125rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #cdcdcd;
}

.form-input__photo-drag-subtitle {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.08em;
  color: #cdcdcd;
}

.form-input__hint-container > *:not(:last-child) {
  margin-bottom: 12px;
}

.form__button {
  padding: 13px 20px;
}

.form-input__check {
  flex: 0 0 max-content;
  &:before {
    content: "\2713";
    color: var(--brand);
  }
}

.become-form__text {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: var(--grey);
}

.form-input__hint {
  color: var(--grey);
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  word-break: break-word;
}

.form-textarea__container {
  background: white;
  border: 2px solid var(--light);
  padding: 21px;
  margin-bottom: 23px;
}

.form-textarea__label {
  font-size: 0.8125rem;
  line-height: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 14px;
}

.form-textarea__input {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  color: var(--dark);
  width: 100%;
  min-height: 360px;
  height: auto;
  resize: vertical;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakPointTablet) {
    flex-wrap: wrap;
    justify-content: start;
  }

  & > * {
    margin-top: 12px;
  }

  & > *:not(:last-child):not(:first-child) {
    margin-right: 12px;
  }
}

.price__tag {
  flex: 0 0 max-content;
  padding: 12px 18px;
  background: var(--light);
  color: var(--brand);
}

.price__tag.active {
  background: var(--brand);
  color: white;
}

.price__hint {
  flex: 1 0 auto;
  color: var(--grey);
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
