.site-header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 2;
  background: white;
  top: 0;
  transition: all 200ms ease;

  &.small {
    height: var(--header-small-height);
  }
}

.header-container {
  height: 100%;
}

.site-header__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transform: translateY(2px);
}

.logo {
  height: 23px;
  flex: 0 0 216px;
  margin-right: 20px;
  transform: translateY(-2px);
  @media (max-width: $breakPointTablet) {
    flex: 0 0 184px;
  }
}

.logo.logo--small {
  flex: 0 0 175px;
  height: 10px;
  transform: translateY(-2px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > :nth-child(4) {
    margin-left: 31px;
    @media (max-width: $breakPointTablet) {
      margin-left: 16px;
    }
  }

  & > :nth-child(2) {
    margin-left: 36px;
    @media (max-width: $breakPointTablet) {
      margin-left: 16px;
    }
  }

  & > :nth-child(3) {
    margin-left: 40px;
    @media (max-width: $breakPointTablet) {
      margin-left: 16px;
    }
  }

  @media (max-width: $burgerBreakpoint) {
    position: absolute;
    background-color: white;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 200ms ease;
    padding: 3.75rem;
    justify-content: flex-start;
    background-color: var(--light);

    & > :not(:first-child) {
      margin-top: 1.875rem;
      margin-left: 0;
    }

    &.active {
      display: flex;
      transform: translateX(0);

      overflow: auto;
    }
  }
}

.nav__link:not(.btn) {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: 0.08em;
  text-align: right;
  color: var(--dark);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0.75rem 0;

  @media (max-width: $breakPointSmallMonitor) {
    font-size: calc(0.7rem + 0.2vmin);
  }

  @media (max-width: $breakPointTablet) {
    font-size: 0.8rem;
  }
}

.nav__link:not(.btn):before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  opacity: 0;
  background-color: var(--brand);
  transition: opacity 0.2s ease-out;
}

.nav__link:not(.btn):hover:before,
.nav__link.active:not(.btn):hover:before {
  opacity: 1;
  background-color: var(--brand);
}

.nav__link.active:not(.btn):before {
  opacity: 1;
  background: var(--accent);
}

.nav__link.btn {
  @media (max-width: $breakPointTablet) {
    padding: 13px 10px;
    min-width: 141px;
  }
}
