.hero {
    background-color: var(--light);
    height: 682px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.75rem;
}

.hero__bottom {
    height: max-content;
}

.hero__heading.heading {
    text-align: center;
    font-size: 4.375rem;
    line-height: 4.1875rem;

    @media (max-width: $breakPointPhone) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.hero__sub-heading.sub-heading {
    text-align: center;
    font-size: 3.125rem;
    line-height: 4.1875rem;
    padding-bottom: 2.9375rem;

    span {
        display: inline;
        white-space: nowrap;
    }

    @media (max-width: $breakPointPhone) {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

.hero__copy {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--dark);
    max-width: 720px;
    padding-bottom: 1.8125rem;
}

.hero__info {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    color: var(--grey);

    margin-bottom: 62px;
}
