.mission {
    margin: 276px 0 166px 0;

    @media (max-width: $breakPointPhone) {
        margin: 60px 0;
    }
}

.mission-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-inner__heading.heading {
    font-size: 3.375rem;
    line-height: 3.25rem;
}

.mission-inner__sub-heading.sub-heading {
    margin-bottom: 27px;
    font-size: 2.3125rem;
    line-height: 3.25rem;
    font-weight: 700;
}

.mission__copy {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-align: center;
    max-width: 905px;
    color: var(--dark);
    margin-bottom: 47px;
}

.mission-inner__heading {
    text-align: center;
}
.mission-inner__sub-heading {
    text-align: center;
}
