.profile-action.block-link {
    display: flex;
    align-items: center;

    & > :not(:first-child) {
        margin-left: 12px;
    }
}

.profile-action__icon {
    width: 36px;
    height: 36px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;

    &--messages {
        background: var(--accent);
        color: white;

        .profile-action:hover & {
            background: var(--accent-hover);
        }
    }

    .profile-action--dark:hover & {
        background-color: var(--dark-bg);
    }
}

.profile-action__icon-action {
    width: 36px;
    height: 36px;
    background-color: var(--light);
}

.profile-action__icon--arrow {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    background-image: url(../assets/images/arrow.svg);
    width: 100%;
    height: 100%;
    transition: transform 100ms ease;

    .expert-profile__action:hover & {
        transform: rotate(90deg);
    }

    .profile-action--dark:hover & {
        color: white;
    }
}

.profile-action__icon--arrow--rotate {
    transform: rotate(-90deg);
}

.profile-action__text {
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: var(--grey);

    .profile-action:hover & {
        color: var(--brand);
    }
}
