.profile-action.block-link {
  display: flex;
  align-items: center;

  & > :not(:first-child) {
    margin-left: 12px;
  }
}

.profile-action__icon {
  width: 36px;
  height: 36px;
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-action__icon svg {
  width: 16px;
  height: 16px;
  transition: transform 100ms ease;

  path {
    fill: var(--brand);
  }
}

.profile-action--default:hover .profile-action__icon svg {
  transform: rotate(90deg);
}

.profile-action--dark:hover .profile-action__icon {
  background-color: var(--brand);
  svg path {
    fill: white;
  }
}

.profile-action__icon--messages {
  background: var(--accent);
  color: white;

  .profile-action:hover & {
    background: var(--accent-hover);
  }
}

.profile-action__icon-action {
  width: 36px;
  height: 36px;
  background-color: var(--light);
}

.profile-action__icon--arrow--rotate {
  transform: rotate(-90deg);
}

.profile-action__text {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: var(--grey);

  .profile-action:hover & {
    color: var(--brand);
  }
}
