.footer {
    background-color: var(--dark-bg);
    padding: 32px 0;
}

.footer__upper-layout {
    display: flex;
    margin-bottom: 176px;
}

.footer__logo {
    flex: 1 0 500px;
}

.footer__nav {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__nav-item a {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--light);
}

.footer__lower-layout {
    display: flex;
    align-items: flex-end;
}

.footer__lower-left {
}

.footer__lower-right {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}

.footer__heading {
    font-family: "Bodoni";
    font-size: 59px;
    font-style: italic;
    font-weight: 400;
    line-height: 52px;
    color: #ffffff;
}

.footer__sub-heading {
    font-size: 37px;
    font-weight: 700;
    line-height: 52px;
    color: var(--accent);
    text-transform: uppercase;
}

.footer__legal {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--grey);
    max-width: 250px;
    white-space: pre-line;
    margin-right: 32px;
}
