.suggestion {
  min-height: 680px;
  background: #03225c;
}

.suggestion__layout {
  display: flex;
  transform: translateY(97px);
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: $breakPointPhone) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: $breakPointPhone) {
    display: flex;
    transform: translate(0, 0);
    padding: 50px 0;
  }
}

.suggestion__image {
  flex: 0 0 549px;
  background-position: center center;
  background-size: cover;
  height: 630px;
  max-height: 50vw;
  width: 549px;

  @media (max-width: $breakPointSmallMonitor) {
    flex: 1 0 50%;
    width: unset;
  }

  @media (max-width: $breakPointSmallMonitor) {
    flex: 0 0 50vw;
    width: 100%;
  }
}

.suggestion__image--workers {
  background-image: url("../assets/images/workers.png");
}

.suggestion__image--nothing {
  background-image: url("../assets/images/nothing.png");
}

.suggestion__text {
  margin-left: 61px;
  margin-right: -20px;
  padding: 0 0 141px 0;

  @media (max-width: $breakPointSmallMonitor) {
    flex: 1 1 auto;
    padding: 0 0 139px 0;
  }

  @media (max-width: $breakPointTablet) {
    flex: 1 1 auto;
    padding: 0 0 129px 0;
    margin-top: 20px;
  }

  @media (max-width: $breakPointPhone) {
    padding: 0 !important;
    margin-left: 0px;
  }
}

.suggestion__heading {
  font-size: 3.625rem;
  color: #ffffff;
  line-height: 62px;
  margin-bottom: 13px;

  @media (max-width: $breakPointPhone) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.suggestion__sub-heading {
  font-size: 2.5rem;
  line-height: 56px;
  color: #ff683e;

  @media (max-width: $breakPointPhone) {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}

.suggestion__paragraph-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--light);
  margin: 44px 0 27px 0;
  letter-spacing: 0;
}

.suggestion__button.btn:hover {
  background-color: #456fcb;
}

.suggestion__button a {
  color: unset;
}

.suggestion__button a:hover {
  color: unset;
}
