.suggestion {
    min-height: 500px;
    background: #03225c;
}

.suggestion__layout {
    display: flex;
    gap: 42px;
    transform: translateY(97px);
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;

    @media (max-width: $breakPointPhone) {
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: $breakPointPhone) {
        display: block;
    }
}

.suggestion__image {
    flex: 0 0 549px;
    background-position: center center;
    background-size: cover;
    height: 630px;
    width: 549px;

    @media (max-width: $breakPointSmallMonitor) {
        flex: 1 0 50%;
    }
}

.suggestion__image--workers {
    background-image: url("../assets/images/workers.png");
}

.suggestion__image--nothing {
    background-image: url("../assets/images/nothing.png");
}

.suggestion__text {
    padding: 0 0 159px 0;

    @media (max-width: $breakPointSmallMonitor) {
        flex: 1 1 auto;
        padding: 0 0 139px 0;
    }

    @media (max-width: $breakPointTablet) {
        flex: 1 1 auto;
        padding: 0 0 129px 0;
    }

    @media (max-width: $breakPointPhone) {
        padding-bottom: 0;
    }
}

.suggestion__heading {
    font-size: 3.625rem;
    line-height: 3.875rem;
    color: #ffffff;
}

.suggestion__sub-heading {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ff683e;
}

.suggestion__paragraph-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--light);
    margin: 37px 0 27px 0;
}

.suggestion__button.btn:hover {
    background-color: #456fcb;
}

.suggestion__button a {
    color: unset;
}

.suggestion__button a:hover {
    color: unset;
}
