.tags__container {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  margin: 0 -6px 0 -6px;
}

.tags__container--center {
  justify-content: center;
}

.tags__container--main {
  justify-content: center;
}

.tags__container--overlay {
  margin-top: 12px;
  margin-bottom: 10px;
}

.tags__tag {
  padding: 12px 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--grey);
  background: var(--light);
  cursor: pointer;
  margin: 8px 6px;

  .experts__search & {
    background: white;
  }
}

.tags__tag:hover {
  color: var(--brand);
}

.tags__tag.tags__tag--dark {
  color: var(--dark-bg);
}

.tags__tag.tags__tag--dark:hover {
  background: var(--brand);
  color: white;
}
