.footer
  .container
    .footer__upper-layout
      a.block-link.footer__logo(href="./")
        include ../components/logo.pug

      ul.footer__nav
        li.footer__nav-item
          a(href="#") Free мероприятия
        li.footer__nav-item
          a(href="#") Политика конфиденциальности
        li.footer__nav-item
          a(href="#") станть экспертом
        li.footer__nav-item
          a(href="#") Политика cookie файлов
        li.footer__nav-item
          a(href="#") войдити
        li.footer__nav-item
          a(href="#") правила и условия

    .footer__lower-layout
      .footer__lower-left
        h2.footer__heading Прокачай свои скиллы
        h2.footer__sub-heading один–на–один с экспертом
      .footer__lower-right
        .footer__legal
          pre.
            Все права защищены
            © 2022 meet expert
