header(class="site-header")
  div(class="container header-container")
    div(class="site-header__layout")
      include ../components/logo.pug
      nav
        ul(class="nav")
          li
            a(href="#" class="nav__link") Free мероприятия
          li
            a(href="./become.html" class="nav__link") стать экспертом
          li
            a.nav__link.active(href="./become.html") andrey
          li
            a.btn.btn-primary.nav__link(href="./experts.html") Найти эксперта
      include ../components/burger.pug
