section.mission
  div.container
    div.mission-inner
      h2.mission-inner__heading.heading Мы хотим помочь вам начать делать то,
      h3.mission-inner__sub-heading.sub-heading что больше доставляет удовольствие
      p.mission__copy.
        Наша миссия довольно проста. Дать вам возможность самим решить, у кого
        вы хотите учиться или набираться опыта. И мы просто даем вам возможность
        выбрать этого эксперта
      a.btn.btn-primary Найти эксперта, сейчас!
