mixin profile-action(link, linkClass, iconclass, text)
  a.block-link.profile-action(class=linkClass, href=link)
    .profile-action__icon(class=iconclass)
      include ../../svg/arrow.svg
    .profile-action__text= text
