mixin profile-photo(linkText, linkClass, icon)
  .profile-photo__container
    .profile-photo__image-container
      if icon
        .profile-photo__icon
          include ../../svg/basket.svg
    .block-link.profile-photo__link(class=linkClass)= linkText
