mixin profile-photo(options)
  .profile-photo__container
    .profile-photo__image-container
      if options.icon
        .profile-photo__icon
          include ../../svg/basket.svg
    .block-link.profile-photo__link(class=options.linkClass)= options.linkText
