.switch__child {
    visibility: hidden;

    &:not(.visible) {
        display: none;
    }

    &.visible {
        visibility: visible;
    }
}

.switch__button-container {
    padding: 10px;
    justify-content: center;
    display: flex;
    gap: 12px;
    align-items: center;
}

.switch__button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #bbb;
    transition: background-color 200ms ease;
    cursor: pointer;
    &.active,
    &:hover {
        background-color: rgb(255, 116, 116);
    }
}

.switch__label {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: #bbb;
}

.switch__close {
    background-color: #bbb;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms ease;
}

.switch__close:hover {
    background-color: rgb(255, 116, 116);
}

.switch__close:before {
    font-size: 8px;
    content: "\2715";
    color: black;
}
