<section class="become-expert">
  <div class="container">
    <div class="become-expert__layout">
      <div class="become-expert__image"></div>
      <div class="become-expert__text">
        <h2 class="become-expert__heading">
          Могут ли ваш опыт и знания помочь начинающим спецам?
        </h2>
        <h2 class="become-expert__subheading">Станьте экспертом!</h2>
        <p class="become-expert__paragraph-text">
          Помогите молодым специалистам улучшить свои знания, чтобы они могли
          легко начать работать в своей любимой области
        </p>
        <button class="btn btn-primary become-expert__button">
          Стать экспертом
        </button>
      </div>
    </div>
  </div>
</section>
