<div class="container container--narrow">
  <div class="expert-profile">
    <div class="expert-profile__profile-container">
      <div class="expert-profile__profile-image-container"></div>
      <div class="expert-profile__profile-link">Запланировать встречу</div>
      <div class="expert-profile__actions">
        <!-- prettier-ignore -->
        @@include('./experts/expert-profile-action.html', { 
          "text": "Чем я могу помочь",
          "link": "#help"
        })
        <!-- prettier-ignore -->
        @@include('./experts/expert-profile-action.html', { 
          "text": "Доступные даты",
          "link": "#calendar"
        })
        <!-- prettier-ignore -->
        @@include('./experts/expert-profile-action.html', { 
          "text": "Отзывы" ,
          "link": "#comments"
        })
        <!-- prettier-ignore -->
        @@include('./experts/expert-profile-action.html', { 
          "text": "в начало",
          "class": "expert-profile__action-arrow-icon--rotate",
          "link": "#top"
        })
      </div>
    </div>
    <div class="expert-profile__info">
      <div class="expert-profile__name">Andrey Chizhov</div>
      <div class="expert-profile__title">
        Руководитель ИТ-проектов @UniCredit Russia
      </div>
      <div class="expert-profile__cost">
        5–10 лет / Цена (за час): 5 000 руб
      </div>
      <div class="expert-profile__text">
        <p>
          Я графический дизайнер, который обладает многими навыками в профессии:
          брендинг, печать, стратегия дизайна, маркетинговые коммуникации, опыт
          работы с клиентами, пользовательский опыт, исследования ux,
          пользовательский интерфейс, эскиз, интерактивное прототипирование,
          информационная архитектура и дизайн, управление контентом,
          интерактивный дизайн, дизайн продукта, дизайн электронной почты,
          системы и услуги дизайн, наборы пользовательского интерфейса.
        </p>

        <p>
          Я работаю в области дизайна более 15 лет и последние 7 лет занимаю
          руководящую должность. С 2014 года я работаю в сфере электронной
          коммерции и создаю цифровые продукты для таких компаний, как:
          Эльдорадо, Ситилинк, Северсталь. Сейчас я возглавляю отдел дизайна и
          пользовательского опыта в международной компании Decathlon.
        </p>

        <p>
          Я являюсь экспертом в области цифрового дизайна, а также обладаю
          знаниями в следующих дисциплинах: маркетинг, психология, социология,
          экономическая теория, менеджмент. Это необходимо для создания
          продуктов высокого качества и эффективности.
        </p>

        <p>Это позволит вам быстро адаптироваться и набирать обороты.</p>
      </div>

      <div class="tags__container">
        @@loop("./tag.html", "../../data/exprt-tags.json")
      </div>

      <h2 class="expert-profile__heading" id="help">Чем</h2>
      <h3 class="expert-profile__sub-heading">я могу помочь</h3>

      <ul class="help-list">
        <li class="help-list-item">Данные</li>
        <li class="help-list-item">Исследования</li>
        <li class="help-list-item">Тестирование</li>
        <li class="help-list-item">Консультирование</li>
        <li class="help-list-item">Преобразование дизайна</li>
        <li class="help-list-item">Технологии</li>
        <li class="help-list-item">Сервис</li>
        <li class="help-list-item">Платформы</li>
        <li class="help-list-item">Цифровые продукты</li>
        <li class="help-list-item">Маркетинг</li>
        <li class="help-list-item">Разработка стратегии</li>
        <li class="help-list-item">Фирменный стиль</li>
        <li class="help-list-item">Годовые отчеты</li>
        <li class="help-list-item">Инфографика</li>
        <li class="help-list-item">Брендинг и дизайн логотипа</li>
        <li class="help-list-item">UI/UX</li>
        <li class="help-list-item">Сторителлинг</li>
      </ul>
      <h2 class="expert-profile__heading" id="calendar">Выберите подходящие</h2>
      <h3 class="expert-profile__sub-heading">даты для встречи</h3>

      <div class="calendarEl calendar--profile"></div>
      <div class="comments-header">
        <div class="comments-header__left">
          <h2 class="expert-profile__heading">Что</h2>
          <h3 class="expert-profile__sub-heading">обо мне говорят</h3>
        </div>
        <div class="comments-header__right">7🤝</div>
      </div>

      <div class="comments-list" id="comments">
        @@loop("./comment-item.html", "../../data/comments.json")
      </div>
    </div>
  </div>
</div>
