<div class="people-list__line active">
  <div class="container people-list__line-inner">
    <div class="people-list__details">
      <div class="people-list__details-name">
        <a href="./person.html"> @@name </a>
      </div>
      <div class="people-list__details-job">@@job</div>
    </div>
    <div class="people-list__photo-container">
      <div class="people-list__photo"></div>
    </div>
    <div class="people-list__experience">@@experience</div>
    <div class="people-list__price">@@price</div>
    <div class="people-list__action">
      <button class="btn btn-primary">Проверить даты</button>
    </div>
  </div>
</div>
