<section class="hero">
  <div class="container hero__container">
    <div class="hero__main">
      <h1 class="hero__title heading">Прокачай свой скиллы</h1>
      <h2 class="hero__subtitle sub-heading">один–на–один с экспертом</h2>
      <p class="hero__copy">
        Спокойно задавайте любые вопросы. Они ответят вам и не будут смотреть на
        вас так, как будто вы ноль. Начните прокачиваться прямо сейчас!
      </p>
    </div>
    <div class="hero__bottom">
      <p class="hero__info">
        *Здесь вы можете разместить некоторую информацию для описания или
        конкретики. Или вообще, что вам нужно знать, чтобы не расстраиваться
      </p>
    </div>
  </div>
</section>
