<section class="mission">
  <div class="container">
    <div class="mission-inner">
      <h2 class="mission-inner__heading heading">
        Мы хотим помочь вам начать делать то,
      </h2>
      <h3 class="mission-inner__sub-heading sub-heading">
        что больше доставляет удовольствие
      </h3>
      <p class="mission__copy">
        Наша миссия довольно проста. Дать вам возможность самим решить, у кого
        вы хотите учиться или набираться опыта. И мы просто даем вам возможность
        выбрать этого эксперта
      </p>
      <button class="btn btn-primary">Найти эксперта, сейчас!</button>
    </div>
  </div>
</section>
