<section class="search__section">
  <div class="container search__container">
    <div class="searchbar">
      <div class="searchbar__icon"></div>
      <div class="searchbar__helptext">
        Не нашли его или не знаете, где искать?
        <span class="searchbar__highlight">Найдите эксперта по тегам</span>
      </div>
      <input class="searchbar__input" type="text" name="" />
    </div>
    <div class="searchbar__helptext-mobile">
      Не нашли его или не знаете, где искать?
      <span class="searchbar__highlight">Найдите эксперта по тегам</span>
    </div>
    @@include('./tag-list.html')
  </div>
</section>
