section.hero
  .ontainer.hero__container
    .hero__main
      h1.hero__heading.heading Прокачай свой скиллы
      h2.hero__sub-heading.sub-heading.
        #[span один–на–один] с экспертом
      .hero__copy.
        Спокойно задавайте любые вопросы. Они ответят вам и не будут смотреть на
        вас так, как будто вы ноль. Начните прокачиваться прямо сейчас!
      a.btn.btn-primary(href="./experts.html") Найти эксперта, сейчас!
    .hero__bottom
      p.hero__info.
        *Здесь вы можете разместить некоторую информацию для описания или
        конкретики. Или вообще, что вам нужно знать, чтобы не расстраиваться
