section.suggestion
  .container
    .suggestion__layout
      .suggestion__image.suggestion__image--workers
      .suggestion__text
        h2.suggestion__heading.heading Могут ли ваш опыт и знания помочь начинающим спецам?
        h3.suggestion__sub-heading.sub-heading Станьте экспертом!

        p.suggestion__paragraph-text.
          Помогите молодым специалистам улучшить свои знания, чтобы они могли
          легко начать работать в своей любимой области
        a.btn.btn-primary.suggestion__button(href="./become.html") Стать экспертом
