:root {
  --header-height-become: 98px;
}

.become {
  background: var(--light);
}

.become-header {
  background: white;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100vw;
  height: var(--header-height-become);
  display: flex;
  justify-content: center;
  align-items: center;
}

.become__container {
  min-height: calc(100vh - var(--header-height-become));
  max-width: 590px;
  padding: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 153px 0 32px 0;
}

.become__heading {
  font-size: 31px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0;
}

.become__subheading {
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.become-form {
  padding: 31px 36px;
  background: white;
}

.become-form__controls-group > *:not(:first-child) {
  margin-top: 18px;
}

.become-form__button {
  transform: translateY(2px);
}
