mixin overlay
  .overlay

mixin overlay-panel(options)
  aside.overlay-panel(class=options.panelClass).inactive
    .panel-gutter
      .panel-gutter__label Закрыть окно
    .panel-content
      block
