.message-panel {
  width: 855px;
  height: 100vh;
  overflow: hidden;
  padding: 34px 40px 32px 42px;

  display: flex;
  flex-direction: column;
}

.message-panel__header {
  display: flex;
  margin-bottom: 14px;
}

.message-panel__avatar {
  flex: 0 0 52px;
}

.message-panel__avatar-image {
  background: no-repeat url("../assets/images/avatar.jpg") center center/cover;
  width: 52px;
  height: 52px;
}

.message-panel__details {
  margin-left: 16px;
  flex: 1 0 auto;
}

.message-panel__icon {
  flex: 0 0 52px;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;

  svg {
    width: 20px;
    height: 20px;

    rect,
    path {
      fill: var(--grey);
    }
  }
}

.message-panel__name {
  font-family: "Bodoni";
  font-style: italic;
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.5625rem;
  color: var(--dark);
}

.message-panel__job {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 2.375rem;
  text-transform: uppercase;

  color: var(--grey);
}

.message-panel__bottom {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.message-panel__messages-container {
  border-top: 2px solid var(--light);
  height: 100%;
  overflow-y: auto;
}

.message-panel__messages-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  position: relative;
}

.message-panel__messages-date {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: var(--grey);
}

.panel-message__container {
  margin-bottom: 26px;
}

.panel-message__header {
  display: flex;
  margin-bottom: 10px;
}

.panel-message__name {
  flex: 1 0 auto;
  font-family: "Bodoni";
  font-style: italic;
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.5625rem;
  color: var(--accent);

  &.panel-message__name--you {
    color: var(--dark);
  }
}

.panel-message__time {
  flex: 0 0 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-align: right;
  color: var(--grey);
}

.panel-message__text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  color: var(--dark);
}

.message-panel__input-container {
}

.message-input {
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  letter-spacing: 0.08em;

  color: var(--grey);
  border: 1px solid var(--light);

  display: flex;
  flex-direction: column;
  position: relative;
  padding: 21px;
  overflow: hidden;
}

.message-input-inner {
  flex: 1 1 fit-content;
  position: relative;
}

.message-input__textarea {
  max-height: 92px;
  min-height: 23px;
  resize: none;
  width: 100%;

  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4375rem;

  color: var(--dark);
}

.message-input__hint {
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  opacity: 1;
  transition: opacity 200ms ease;

  &.hidden {
    opacity: 0;
  }
}

.message-input__description {
  font-size: 0.8125rem;
  line-height: 17px;
  margin-top: 14px;
  flex: 0 0 fit-content;

  span {
    color: var(--brand);
  }
}
