<ul class="constraints">
  <li class="constraints__item active" contenteditable="true">
    All fields are required to be filled in
  </li>
  <li class="constraints__item">
    A profile photo will help students get to know you better
  </li>
  <li class="constraints__item">
    Your face should be clearly visible in the photo
  </li>
  <li class="constraints__item">The photo should be taken in good light</li>
  <li class="constraints__item">Formats: JPEG, JPG, PNG</li>
  <li class="constraints__item">Size up to 1.5 MB</li>
</ul>

<form action="" class="cabinet-form">
  <div class="form-input__container">
    <div class="form-input__label">First name:</div>
    <input
      type="text"
      class="form-input__input"
      value="Alexander"
      name="firstname"
    />
  </div>

  <div class="form-input__container">
    <div class="form-input__label">last name:</div>
    <input
      type="text"
      class="form-input__input"
      value="kolesnikov"
      name="secondname"
    />
  </div>

  <div class="form-input__container">
    <div class="form-input__label">country:</div>
    <input
      type="text"
      class="form-input__input"
      value="russia"
      name="country"
    />
  </div>

  <div class="form-input__container">
    <div class="form-input__label">City:</div>
    <input type="text" class="form-input__input" value="moscow" name="city" />
  </div>

  <div class="form-input__container">
    <div class="form-input__label">email:</div>
    <input
      type="email"
      class="form-input__input"
      value="Kolesnikov@gmail.com"
      name="email"
    />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">uername:</div>
    <input
      type="text"
      class="form-input__input"
      value=" @alex.kolesnik"
      name="username"
    />
  </div>

  <div class="form-input__hint">
    A username can consist of letters, numbers, and underscores
  </div>

  <h2 class="cabinet-heading heading">Tell us more about yourself and</h2>
  <h3 class="cabinet-sub-heading sub-heading">
    how you can help and at what cost
  </h3>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">Company:</div>
    <input
      type="text"
      class="form-input__input"
      name="company"
      value="unicredit bank"
    />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">Current position:</div>
    <input
      type="text"
      class="form-input__input"
      name="position"
      value="IT Project Manager"
    />
  </div>

  <div class="form-textarea__container">
    <div class="form-textarea__label">Your short description:</div>
    <textarea class="form-textarea__input" name="description">
I am a graphic designer who has many skills in the profession: branding, 
printing, design strategy, marketing communication, customer experience, 
user experience, ux research, user interface, sketch, interactive prototyping, 
information architecture & design, content management, interactive design, 
product design, Ecomm design, systems and services design, UI kits.

I have been working in the field of design for more than 15 years and have 
held a managerial position for the last 7 years. Since 2014, I have been working 
in the field of e-commerce and created Digital products for companies such as: 
Eldorado, Citylink, Severstal. Now I head the Design and user experience 
department at the international company Decathlon.

I am an expert in Digital Design, and also have knowledge in the following 
disciplines: marketing, psychology, sociology, economic theory, management. 
This is necessary to create products of high quality and efficiency.

Having gathered all my experience and knowledge, I have developed a system 
that will help you enter the sphere of UX/UI design with confidence. It will allow 
you to quickly adapt and gain momentum to reach heights in your future career.
    </textarea>
  </div>

  <div class="competencies">
    <div class="competencies__label">Core competencies:</div>
    <div class="competencies__tags">
      <!-- prettier-ignore -->
      @@loop("../tag.html", "../../data/tags-cab.json")
    </div>
  </div>

  <div class="form-input__hint">
    Choose no more than 3 directions in which you understand deeply enough. If
    you are Full Stack, then add both Frontend and Backend
  </div>

  <h2 class="cabinet-heading heading">How</h2>
  <h3 class="cabinet-sub-heading sub-heading">can i help you</h3>

  <div class="cabinet-form__text">
    Here it is worth telling in more detail what you are ready to help potential
    students with. It is important to indicate here exactly what you are also
    interested in helping with as a mentor
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">1:</div>
    <input type="text" class="form-input__input" value="data" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">2:</div>
    <input type="text" class="form-input__input" value="Services" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">3:</div>
    <input type="text" class="form-input__input" value="annual reports" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">4:</div>
    <input type="text" class="form-input__input" value="Platform" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">5:</div>
    <input type="text" class="form-input__input" value="Services" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">6:</div>
    <input type="text" class="form-input__input" value="Infographics" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">7:</div>
    <input type="text" class="form-input__input" value="Business" />
  </div>

  <div class="form-input__container form-input__container--smallgap">
    <div class="form-input__label">8:</div>
    <input type="text" class="form-input__input" value="Digital produ" />
  </div>
</form>
