<header class="site-header">
  <div class="container header-container">
    <div class="site-header__layout">
      @@include("../logo.html")
      <nav>
        <ul class="nav">
          <li><a href="#" class="nav__link">Free мероприятия</a></li>
          <li><a href="./become.html" class="nav__link">стать экспертом</a></li>
          <li><a href="#" class="nav__link active">andrey</a></li>
          <li>
            <a href="./experts.html" class="nav__link btn btn-primary">
              Найти эксперта
            </a>
          </li>
        </ul>
      </nav>

      @@include('../../components/burger.html')
    </div>
  </div>
</header>
