<section class="mission">
  <div class="container">
    <div class="mission-inner">
      <h2 class="mission-inner__heading heading">
        Ничего не нашел? Нет ничего подходящего?
      </h2>
      <h3 class="mission-inner__sub-heading sub-heading">
        ОПИШИТЕ ПОДРОБНО, ЧТО ВЫ ИЩЕТЕ
      </h3>
      <p class="mission__copy">
        Напишите нам свое видение и потребности, и мы подберем для вас наиболее
        подходящие варианты. Для нас важно, чтобы вы получилите знания, за
        которыми пришли.
      </p>
      <button class="btn btn-primary">Найти эксперта, сейчас!</button>
    </div>
  </div>
</section>
