<section class="suggestion">
  <div class="container">
    <div class="suggestion__layout">
      <div class="suggestion__image suggestion__image--nothing"></div>
      <div class="suggestion__text">
        <h2 class="suggestion__heading">
          Ничего не нашел? Нет ничего подходящего?
        </h2>
        <h2 class="suggestion__subheading">ОПИШИТЕ ПОДРОБНО, ЧТО ВЫ ИЩЕТЕ</h2>
        <p class="suggestion__paragraph-text">
          Напишите нам свое видение и потребности, и мы подберем для вас
          наиболее подходящие варианты. Для нас важно, чтобы вы получилите
          знания, за которыми пришли.
        </p>
        <button class="btn btn-primary suggestion__button">
          <a href="./experts.html" class=""> Найти эксперта</a>
        </button>
      </div>
    </div>
  </div>
</section>
