include ./components/form-input.pug
include ./components/action-button.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    title Andrey Chizhov - cabinet
    link(rel="stylesheet" href="css/index.css")

  body(id="top")
    include ./partials/header.pug
    include ./partials/cabinet/scroll-back.pug

    .container.container--very-narrow
      .cabinet
        include ./partials/cabinet/profile.pug
        .cabinet__content
          .constraints
            .constraints__item.active Все поля обязательны для заполнения
            .constraints__item Фотография профиля поможет студентам узнать вас лучше
            .constraints__item Ваше лицо должно быть хорошо видно на фотографии
            .constraints__item Фотография должна быть сделана при хорошем освещении
            .constraints__item Форматы: JPEG, JPG, PNG
            .constraints__item Размер до 1.5 MB

          form.cabinet-form(action="")
            .cabinet-form__controls-group
                +form-input({
                  label: "Имя:",
                  name: "firstname",
                  value: "Alexander"
                })

                +form-input({
                  label: "Фамилия:",
                  name: "secondname",
                  value: "kolesnikov"
                })

                +form-input({
                  label: "Страна:",
                  name: "country",
                  value: "russia"
                })

                +form-input({
                  label: "Город:",
                  name: "city",
                  value: "moscow"
                })

                +form-input({
                  label: "email:",
                  name: "email",
                  value: "Kolesnikov@gmail.com",
                  type: "email"
                })

                .form-input__hint-container
                  +form-input({
                    label: "username:",
                    name: "username",
                    value: "@alex.kolesnik"
                  })
                  .form-input__hint A username can consist of letters, numbers, and underscores

            .cabinet-form__title
              h2.cabinet-heading.heading Tell us more about yourself and
              h3.cabinet-sub-heading.sub-heading how you can help and at what cost

            .cabinet-form__controls-group
              +form-input({
                label: "компания:",
                name: "company",
                value: "unicredit bank"
              })

              +form-input({
                label: "позиция в компании:",
                name: "position",
                value: "IT Project Manager"
              })

              .form-textarea__container
                .form-textarea__label Your short description:
                textarea.form-textarea__input(name="description").
                  Я графический дизайнер, который обладает многими навыками в профессии:
                  брендинг, печать, стратегия дизайна, маркетинговые коммуникации, опыт
                  работы с клиентами, пользовательский опыт, исследования ux,
                  пользовательский интерфейс, эскиз, интерактивное прототипирование,
                  информационная архитектура и дизайн, управление контентом,
                  интерактивный дизайн, дизайн продукта, дизайн электронной почты, системы
                  и услуги дизайн, наборы пользовательского интерфейса.

                  Я работаю в области дизайна более 15 лет и последние 7 лет занимаю
                  руководящую должность. С 2014 года я работаю в сфере электронной
                  коммерции и создаю цифровые продукты для таких компаний, как:
                  Эльдорадо, Ситилинк, Северсталь. Сейчас я возглавляю отдел дизайна
                  и пользовательского опыта в международной компании Decathlon.

                  Я являюсь экспертом в области цифрового дизайна, а также обладаю
                  знаниями в следующих дисциплинах: маркетинг, психология, социология,
                  экономическая теория, менеджмент. Это необходимо для создания продуктов
                  высокого качества и эффективности.
                  Это позволит вам быстро адаптироваться и набирать обороты.

              div.form-input__hint-container
                .competencies
                  .competencies__label Основные компетенции:
                  .competencies__tags
                    -
                      const tags = [
                        "Team Management", "Product Management", "IT projects"
                      ]
                    each tag in tags
                      .tags__tag= tag

                .form-input__hint.form-input__hint--big-margin.
                  Выберите не более 3-х направлений, в которых вы разбираетесь достаточно глубоко.
                  Если у вас полный стек, то добавьте как интерфейс, так и бэкенд

            div.cabinet-form__title.cabinet-form__title--smallgap
              h2.cabinet-heading.heading How
              h3.cabinet-sub-heading.sub-heading can i help you

            .cabinet-form__text.
              Здесь стоит более подробно рассказать, в чем вы готовы помочь
              потенциальным студентам. Здесь важно точно указать, в чем вы
              также заинтересованы в помощи в качестве наставника

            .cabinet-form__controls-group
              +form-input({
                label: "1:",
                value: "data"
              })

              +form-input({
                label: "2:",
                value: "Services"
              })

              +form-input({
                label: "3:",
                value: "annual reports"
              })

              +form-input({
                label: "4:",
                value: "research & Testing"
              })

              +form-input({
                label: "5:",
                value: "Platform"
              })

              +form-input({
                label: "6:",
                value: "Infographics"
              })

              +form-input({
                label: "7:",
                value: "Business"
              })

              +form-input({
                label: "8:",
                value: "Digital produ"
              })

              +action-button({
                text: 'add one more line',
                class:'cabinet-add'
              })

            div.cabinet-form__title
              h2.cabinet-heading.heading The cost
              h3.cabinet-sub-heading.sub-heading of your services

              div.form-input__hint-container
                .price
                  button.price__tag.active RUB
                  button.price__tag USD

                  +form-input({
                    label: "за час:",
                    value: "2 800",
                  })

                  .price__hint 3 569 RUB after commissions

                .form-input__hint.form-input__hint--big-margin.
                  Выберите основную валюту, а также стоимость занятий с вами. При замене стоимости
                  на сайте мы будем исходить из вашей базовой валюты

    include ./partials/footer.pug

    script(src="js/script.min.js" defer="true")
    script(src="js/index.global.min.js" defer="true")
