include ./partials/profile-photo.pug
include ./partials/profile-action.pug
include ./partials/profile-action-msg.pug
include ./components/action-button.pug
include ./components/form-input.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Andrey Chizhov - cabinet
    link(rel="stylesheet" href="css/index.css")

  body(id="top")
    include ./partials/header.pug
    include ./partials/cabinet/scroll-back.pug

    .container.container--very-narrow
      .cabinet
        .cabinet__profile-container
          +profile-photo("Update the photo", "profile-photo__link--cabinet", true)
          .cabinet__actions
            +profile-action("#help", "profile-action--dark", "", "Your profile")
            +profile-action-msg("#help", "Your profile")
            +profile-action("#help", "profile-action--dark", "", "Your profile")
            +profile-action("#help", "profile-action--dark", "", "Your profile")
        .cabinet__content

          .constraints
            .constraints__item.active All fields are required to be filled in
            .constraints__item A profile photo will help students get to know you better
            .constraints__item Your face should be clearly visible in the photo
            .constraints__item Formats: JPEG, JPG, PNG
            .constraints__item Size up to 1.5 MB

          form.cabinet-form(action="")
            +form-input({
              label: "First name:",
              name: "firstname",
              value: "Alexander",
              gap: "gap"
            })
            +form-input({
              label: "last name:",
              name: "secondname",
              value: "kolesnikov",
              gap: "gap"
            })
            +form-input({
              label: "country:",
              name: "country",
              value: "russia",
              gap: "gap"
            })
            +form-input({
              label: "City:",
              name: "city",
              value: "moscow",
              gap: "gap"
            })
            +form-input({
              label: "email:",
              name: "email",
              value: "Kolesnikov@gmail.com",
              type: "email",
              gap: "gap"
            })
            +form-input({
              label: "username:",
              name: "username",
              value: "@alex.kolesnik",
              gap: "smallgap"
            })
            .form-input__hint A username can consist of letters, numbers, and underscores

            h2.cabinet-heading.heading Tell us more about yourself and
            h3.cabinet-sub-heading.sub-heading how you can help and at what cost

            +form-input({
              label: "Company:",
              name: "company",
              value: "unicredit bank",
              gap: "gap",
            })
            +form-input({
              label: "Current position:",
              name: "position",
              value: "IT Project Manager",
              gap: "smallgap"
            })

            .form-textarea__container
              .form-textarea__label Your short description:
              textarea.form-textarea__input(name="description").
                  I am a graphic designer who has many skills in the profession: branding,
                  printing, design strategy, marketing communication, customer experience,
                  user experience, ux research, user interface, sketch, interactive prototyping,
                  information architecture & design, content management, interactive design,
                  product design, Ecomm design, systems and services design, UI kits.

                  I have been working in the field of design for more than 15 years and have
                  held a managerial position for the last 7 years. Since 2014, I have been working
                  in the field of e-commerce and created Digital products for companies such as:
                  Eldorado, Citylink, Severstal. Now I head the Design and user experience
                  department at the international company Decathlon.

                  I am an expert in Digital Design, and also have knowledge in the following
                  disciplines: marketing, psychology, sociology, economic theory, management.
                  This is necessary to create products of high quality and efficiency.

                  Having gathered all my experience and knowledge, I have developed a system
                  that will help you enter the sphere of UX/UI design with confidence. It will allow
                  you to quickly adapt and gain momentum to reach heights in your future career.


            .competencies
              .competencies__label Core competencies:
              .competencies__tags
                -
                  const tags = [
                    "Team Management", "Product Management", "IT projects"
                  ]
                each tag in tags
                  .tags__tag= tag

            .form-input__hint.
              Choose no more than 3 directions in which you understand deeply enough. If
              you are Full Stack, then add both Frontend and Backend

            h2.cabinet-heading.heading How
            h3.cabinet-sub-heading.sub-heading can i help you

            .cabinet-form__text.
              Here it is worth telling in more detail what you are ready to help potential
              students with. It is important to indicate here exactly what you are also
              interested in helping with as a mentor

            +form-input({
              label: "1:",
              value: "data",
              gap: "gap"
            })
            +form-input({
              label: "2:",
              value: "Services",
              gap: "gap"
            })
            +form-input({
              label: "3:",
              value: "annual reports",
              gap: "gap"
            })
            +form-input({
              label: "4:",
              value: "research & Testing",
              gap: "gap"
            })
            +form-input({
              label: "5:",
              value: "Platform",
              gap: "gap"
            })
            +form-input({
              label: "6:",
              value: "Infographics",
              gap: "gap"
            })
            +form-input({
              label: "7:",
              value: "Business",
              gap: "gap"
            })
            +form-input({
              label: "8:",
              value: "Digital produ",
              gap: "smallgap"
            })

            +action-button({
              text: 'add one more line',
              class:'cabinet-add'
            })

            h2.cabinet-heading.heading The cost
            h3.cabinet-sub-heading.sub-heading of your services

            .price
              button.price__tag.active RUB
              button.price__tag USD

              +form-input({
                label: "per hour:",
                value: "2 800",
              })

              .price__hint 3 569 RUB after commissions

            .form-input__hint.
              Choose the main currency, as well as the cost of classes with you. When substituting
              the cost on the site, we will start from your base currency

    include ./partials/footer.pug

  script(src="js/script.min.js" defer="true")
  script(src="assets/js/index.global.min.js" defer="true")
