include ./partials/experts/expert-list.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    title Andrey Chizhov - cabinet
    link(rel="stylesheet" href="css/index.css")

  body
    include ./partials/header-common.pug

    .switcher
      include ./partials/experts/searchbar.pug
      include ./partials/experts/searchbar-button.pug

    +expert-list({
      people: [
        {
          "name": "Артем зайцев",
          "job": "Ведущий Backend Разработчик @FastVPS Ltd.",
          "reviews": "15 отзывов",
          "experience": "1–5 лет",
          "price": "4 500 руб"
        },
        {
          "name": "Владимир Круглов",
          "job": "Principal инженер @Snapcart",
          "reviews": "13 отзывов",
          "experience": "5–10 лет",
          "price": "5 000 руб"
        },
        {
          "name": "Сергей Симов",
          "job": "Ведущий специалист по обработке данных NLP @Lanit",
          "reviews": "7 отзывов",
          "experience": "1–5 лет",
          "price": "3 500 руб"
        },
        {
          "name": "Степан Баранников",
          "job": "Архитектор решений @Korus Consulting",
          "reviews": "3 отзывов",
          "experience": "5–10 лет",
          "price": "4 000 руб"
        }
      ]
    })

    include ./partials/experts/nothing.pug

    include ./partials/mission-section.pug

    include ./partials/footer.pug

    include ./partials/overlay-panel.pug

    script(src="js/script.min.js" defer="true")
    script(src="js/index.global.min.js" defer="true")
