include ./partials/experts/searchbar.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    title Andrey Chizhov - experts
    link(rel="stylesheet" href="css/index.css")

  body
    include ./partials/header-common.pug

    .experts__search
      .switcher
        +searchbar({
          tagsInner: true,
          go: true,
          hint: false,
          searchbarModifier: "searchbar--experts",
          tags: [
            "dart", "restapi", "googleservices", "flutter", "firebase", "mvvm", "confluence"
          ]
        })
        +searchbar({
          tagsInner: false,
          go: false,
          hint: true,
          searchbarModifier: "searchbar--experts",
          tags: [
            "Java", "JavaScript", "Python", "ProductManagement", "C++", "UX/UI", "DataScience"
          ]
        })

    .experts__experts
      include ./partials/experts/expert-list.pug

    .experts__nothing
      include ./partials/experts/nothing.pug

    .experts-mission
      include ./partials/mission-section.pug

    include ./partials/footer.pug

    include ./partials/overlay-panel.pug

    script(src="js/script.min.js" defer="true")
    script(src="js/index.global.min.js" defer="true")
