include ./partials/experts/searchbar.pug
include ./partials/messages/overlay.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    title Andrey Chizhov - cabinet
    link(rel="stylesheet" href="css/index.css")

  body
    include ./partials/header-common.pug

    include ./partials/index/hero.pug

    include ./partials/index/tech-list.pug

    .index__search
      +searchbar({
        tags: false,
        go: false,
        hint: true,
        searchbarTagsClass: "searchbar__tags--gap",
        tags: [
          "Java", "JavaScript", "Python", "ProductManagement", "C++", "UX/UI", "DataScience"
        ]
      })

    section.index__experts
      include ./partials/index/expert-list.pug

    section.index__suggestion
      include ./partials/index/suggestion.pug

    section.index__mission
      include ./partials/index/mission.pug

    include ./partials/footer.pug

    +overlay
    +overlay-panel({
      panelClass: "panel-expertPanel"
    })
      include ./partials/overlay/person.pug

    +overlay-panel({
      panelClass: "panel-loginPanel"
    })
      include ./partials/overlay/login.pug

    script(src="js/script.min.js" defer="true")
    script(src="js/index.global.min.js" defer="true")
