include ./partials/messages/messages-dialog.pug
include ./partials/messages/overlay.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    title Andrey Chizhov - cabinet
    link(rel="stylesheet" href="css/index.css")

  body(id="top")
    include ./partials/header.pug
    include ./partials/cabinet/scroll-back.pug

    .container
      .messages__container
        .messages__left
          include ./partials/cabinet/profile.pug
        .messages__right
          .messages__heading.heading Ваши диалоги
          .messages__sub-heading.sub-heading с будущими специалистами


          .messages__dialogs
            -
              const dialogs = [{
                name: "Артем зайцев",
                textClass: "messages-dialog__text--new",
                message: "Спасибо вам за консультацию, она была очень интересной и полезной!",
                date: "11.01.2023"
              },{
                name: "Владимир Круглов",
                textClass: "messages-dialog__text--new",
                message: "Можем ли мы созвониться на следующей неделе и договориться о дате новой ...",
                date: "13.01.2023"
              },{
                name: "Сергей Симов",
                target: "Вы:",
                message: "Будет ли вам удобно с помощью Zoom или Google Meet?",
                date: "14.01.2023"
              },{
                name: "Сергей Симов",
                target: "Вы:",
                message: "Будет ли вам удобно с помощью Zoom или Google Meet?",
                date: "14.01.2023"
              },{
                name: "Степан Баранников",
                message: "Хорошо! Скоро увидимся",
                date: "21.01.2023"
              },{
                name: "Андрей Чижов",
                target: "Вы:",
                message: "Ты можешь сделать это сегодня?",
                date: "25.01.2023"
              }]
            each dialog in dialogs
              +messages-dialog(dialog)

    +overlay
    +overlay-panel({
      panelClass: "panel-messagesPanel"
    })
      include ./partials/messages/messages-panel-content.pug

    include ./partials/footer.pug

    script(src="js/script.min.js" defer="true")
    script(src="js/index.global.min.js" defer="true")
