include ../../components/form-input.pug

.become__container
  h1.become__heading.heading Application to become an Expert
  h2.become__subheading.sub-heading on meet Expert



  form.become-form(action="#")
    .become-form__controls-group
      +form-input({
        label: "Имя:",
        name: "firstname",
        value: "Alexander",
        check: true
      })

      +form-input({
        label: "Фамилия:",
        name: "lastname",
        value: "kolesn",
      })

      +form-input({
        label: "Страна:",
        name: "country",
        value: "",
      })

      +form-input({
        label: "Город:",
        name: "city",
        value: "",
      })

      +form-input({
        label: "email:",
        name: "email",
        value: "",
      })

      .form-input__photo-drag-container
        span.form-input__photo-drag-title Загрузите с компьютера или перетащите его сюда.
        span.form-input__photo-drag-subtitle Только в формате word или pdf. Максимальный размер файла 5 Мб.

      .form__buttons
        button.btn.btn-primary.become-form__button(disabled = true) Отправить запрос

      .become-form__text.
        Отправляя заявку, вы принимаете
        #[a(href="#") условия лицензионного соглашения] и соглашаетесь с
        #[a(href="#") политикой обработки персональных данных]
