section.suggestion
  .container
    .suggestion__layout
      .suggestion__image.suggestion__image--nothing
      .suggestion__text
        h2.suggestion__heading.heading Ничего не нашел? Нет ничего подходящего?
        h3.suggestion__sub-heading.sub-heading ОПИШИТЕ ПОДРОБНО, ЧТО ВЫ ИЩЕТЕ

        p.suggestion__paragraph-text.
          Напишите нам свое видение и потребности, и мы подберем для вас
          наиболее подходящие варианты. Для нас важно, чтобы вы получилите
          знания, за которыми пришли.
        a.btn.btn-primary.suggestion__button(href="./experts.html") Найти эксперта
