include ../../components/tag-list.pug

mixin searchbar(options)
  .search__section(class=options.conainerClass)
    .container.search__container
      .searchbar
        .searchbar__icon
        .searchbar__content

          if (options.tags)
            .searchbar__tag.
              swagger
              #[span.searchbar__tag-close]
            .searchbar__tag.
              Xcode
              #[span.searchbar__tag-close]
            .searchbar__tag.
              Openapi
              #[span.searchbar__tag-close]

          input.searchbar__input(type="text", name="search")

        if (options.hint)
          .searchbar__helptext.
            Не нашли его или не знаете, где искать?
            #[span.searchbar__highlight Найдите эксперта по тегам]

        if (options.go)
          .searchbar__go-button to find

      .searchbar__helptext-mobile Не нашли его или не знаете, где искать?
        span.searchbar__highlight Найдите эксперта по тегам

      +tag-list({
        tags: [
          "Java", "JavaScript", "Python", "ProductManagement", "C++", "UX/UI", "DataScience"
        ]
      })
