<form action="#" class="become-form">
  <div class="form-input__container">
    <div class="form-input__label">First name:</div>
    <input
      type="text"
      class="form-input__input"
      value="Alexander"
      name="firstname"
    />
    <span class="form-input__check"></span>
  </div>
  <div class="form-input__container">
    <div class="form-input__label">last name:</div>
    <input
      type="text"
      class="form-input__input"
      value="kolesn"
      name="lastname"
    />
  </div>
  <div class="form-input__container">
    <div class="form-input__label">country:</div>
    <input type="text" class="form-input__input" value="" name="country" />
  </div>
  <div class="form-input__container">
    <div class="form-input__label">city:</div>
    <input type="text" class="form-input__input" value="" name="city" />
  </div>
  <div class="form-input__container">
    <div class="form-input__label">email:</div>
    <input type="email" class="form-input__input" value="" name="email" />
  </div>
  <div class="form-input__photo-drag-container">
    <span class="form-input__photo-drag-title">
      Upload from computer or drag and drop it here.
    </span>
    <span class="form-input__photo-drag-subtitle">
      Only word or pdf format. Max file size 5 Mb.
    </span>
  </div>

  <div class="form__buttons">
    <button class="btn btn-primary become-form__button" disabled>
      Send a request
    </button>
  </div>

  <div class="become-form__text">
    By submitting an application, you accept the terms of the
    <a href="#"> license agreement </a> and agree to the
    <a href="#"> personal data processing policy </a>
  </div>
</form>
