include ../profile-photo.pug
include ../profile-action.pug

aside.cabinet__profile-container.scroll-back__panel
  +profile-photo({
    linkText: "Измените фото",
    linkClass: "profile-photo__link--cabinet"
  })
  nav.cabinet__actions
    +profile-action({
      link: "#help",
      linkClass: "profile-action--light",
      text: "Ваш профиль"
    })
    +profile-action({
      link: "./messages.html",
      linkClass: "profile-action--orange",
      text: "Сообщения",
      linkContent: "2"
    })
    +profile-action({
      link: "./settings.html",
      linkClass: "profile-action--light",
      text: "Настройки"
    })
