.scroll-back.visible
  .container.container--narrow
    .scroll-back__inner
      a.scroll-back__back-link(href="./experts.html")
        .scroll-back__icon
        .scroll-back__caption Назад к экспертам
      .scroll-back__heart
        include ../../../svg/heart.svg
