/* vars */

:root {
    --accent: #ff683e;
    --dark-bg: #03225c;
    --dark: #2e2e2e;
    --brand: #1c51b9;
    --light: #f9f7f2;
    --grey: #cdcdcd;
    font-size: 16px;

    @media (max-width: $breakPointTablet) {
        font-size: 13px;
    }

    @media (max-width: $breakPointPhone) {
        font-size: 14px;
    }

    @media (max-width: $breakPointSmallPhone) {
        font-size: 12px;
    }

    --header-height: 123px;

    @media (max-width: $breakPointPhone) {
        --header-height: 93px;
    }
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 700;
    src: url("../assets/fonts/Gotham_Pro_Bold.woff");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 400;
    src: url("../assets/fonts/Gotham_Pro_Regular.woff");
}

/* common */

.btn {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    min-width: 181px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--brand);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    max-width: max-content;
}

.btn-primary:hover {
    color: white;
    background-color: var(--dark-bg);
}

.btn-primary:active {
    background-color: #0d378d;
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px #8398c4;
}

.btn-primary:disabled {
    background-color: var(--grey);
}

a {
    color: var(--brand);
}

a:hover {
    color: var(--dark);
}

a.block-link {
    display: block;
}

.heading {
    font-family: "Bodoni";
    font-style: italic;
    font-weight: 400;
    font-size: 4.375rem;
    line-height: 4.1875rem;
    color: var(--dark);
}

.sub-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 4.1875rem;
    text-transform: uppercase;
    color: var(--brand);
}

body {
    font-family: "Gotham Pro";
    font-weight: 700;
    background: white;
    color: var(--dark);
    padding-top: var(--header-height);

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
    margin: auto;

    @media (max-width: $breakPointSmallMonitor) {
        max-width: 100%;
        margin: 0 40px;
    }

    @media (max-width: $breakPointPhone) {
        max-width: 100%;
        margin: 0 20px;
    }
}

.container.container--narrow {
    max-width: 1050px;
    margin: auto;

    @media (max-width: $breakPointSmallMonitor) {
        max-width: 100%;
        margin: 0 40px;
    }

    @media (max-width: $breakPointPhone) {
        max-width: 100%;
        margin: 0 25px;
    }
}
