.btn {
  display: flex;
  justify-content: center;
  border: none;
  padding: 13px 19px;
  font-size: 1rem;
  cursor: pointer;
  min-width: 181px;
  text-transform: uppercase;
  line-height: 12px;
  letter-spacing: 0.08em;
}

.btn-primary {
  background-color: var(--brand);
  color: white;
  border: none;
  font-size: 0.8125rem;
  cursor: pointer;
  max-width: max-content;
}

.btn-primary:hover {
  color: white;
  background-color: var(--dark-bg);
}

.btn-primary:active {
  background-color: #0d378d;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px #8398c4;
}

.btn-primary:disabled {
  background-color: var(--grey);
  color: white;
}

.btn-secondary {
  background-color: var(--light);
  color: var(--brand);
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px 21px;
  font-size: 13px;

  &:hover {
    color: var(--dark);
  }
}

a {
  color: var(--brand);
  cursor: pointer;
}

a:hover {
  color: var(--dark);
}

a.block-link {
  display: block;
}

.heading {
  font-family: "Bodoni MT";
  font-style: italic;
  font-weight: 400;
  font-size: 4.375rem;
  line-height: 4.1875rem;

  color: var(--dark);
}

.sub-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 4.1875rem;

  text-transform: uppercase;
  color: var(--brand);
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  background: white;
  color: var(--dark);

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  margin: auto;

  @media (max-width: $breakPointSmallMonitor) {
    max-width: 100%;
    margin: 0 40px;
  }

  @media (max-width: $breakPointPhone) {
    max-width: 100%;
    margin: 0 20px;
  }
}

.container.container--narrow {
  max-width: 1050px;
  margin: auto;

  @media (max-width: $breakPointSmallMonitor) {
    max-width: 100%;
    margin: 0 40px;
  }

  @media (max-width: $breakPointPhone) {
    max-width: 100%;
    margin: 0 25px;
  }
}

.container.container--person {
  max-width: 1176px;
  margin: auto;
  padding-left: 110px;

  @media (max-width: $breakPointSmallMonitor) {
    max-width: 100%;
    margin: 0 40px;
  }

  @media (max-width: $breakPointPhone) {
    max-width: 100%;
    margin: 0 25px;
    padding-left: 0;
  }
}

.container.container--very-narrow {
  max-width: 952px;
  margin: auto;

  @media (max-width: $breakPointTablet) {
    max-width: 100%;
    margin: 0 40px;
  }

  @media (max-width: $breakPointPhone) {
    max-width: 100%;
    margin: 0 25px;
  }
}
