.cabinet {
  display: flex;
  margin-top: 222px;

  @media (max-width: $breakPointTablet) {
    flex-direction: column;
  }
}

.cabinet__profile-container {
  flex: 0 0 260px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: sticky;
  top: var(--header-height);
  align-self: flex-start;
  transition: top 200ms ease-out;
  margin-bottom: 20px;

  &.shift {
    top: calc(var(--header-height) + 75px);
  }

  @media (max-width: $breakPointTablet) {
    display: flex;
    margin-bottom: 23px;
    .cabinet__actions {
      margin-left: 12px;
    }
  }

  @media (max-width: $breakPointSmallPhone) {
    display: block;
  }
}

.cabinet__actions {
  margin-top: 26px;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakPointPhone) {
    margin-top: 0;
  }

  @media (max-width: $breakPointSmallPhone) {
    margin-top: 16px;
  }

  & > :not(:first-child) {
    margin-top: 17px;
  }
}

.cabinet__content {
  margin-left: 45px;
  padding-top: 10px;
  overflow: hidden;

  @media (max-width: $breakPointTablet) {
    margin-left: 0;
  }
}
